swagger: "2.0"
info:
  title: Hyreslandslaget - HLL API
  version: "2.0.0"
  description: This is the HLL App API

host: api.hyreslandslaget.se
basePath: /
schemes:
- https

paths:
  /update:
    get:
      responses:
        '200':
          description: OK
          headers: {}
          examples:
            application/json:
              android:
                minVersion: 20000000
                latestVersion: 20000003
                storeUrl: >-
                  https://play.google.com/store/apps/details?id=se.hyreslandslaget.app
              ios:
                minVersion: 1.0.0
                latestVersion: 1.0.0
                storeUrl: 'https://itunes.apple.com/us/app/hll/id1205522032'
          schema:
            type: object
            properties:
              android:
                type: object
                properties:
                  minVersion:
                    type: number
                    description: >-
                      The minimum version that can be run due to breaking
                      changes in apis or similar
                  latestVersion:
                    type: number
                    description: The latest version available to download
                  storeUrl:
                    type: string
                    description: The url pointing to the app in google play
                required:
                - minVersion
                - latestVersion
                - storeUrl
                description: Version information for the Android app
              ios:
                type: object
                properties:
                  minVersion:
                    type: string
                    description: >-
                      The minimum version that can be run due to breaking
                      changes in apis or similar
                  latestVersion:
                    type: string
                    description: The latest version available to download
                  storeUrl:
                    type: string
                    description: The url pointing to the app in app store
                required:
                - minVersion
                - latestVersion
                - storeUrl
                description: Version information for the iOS app
            required:
            - android
            - ios
      summary: Get the update information
      description: ''
      tags: []
      parameters: []
      produces:
      - application/json
  /depots:
    get:
      responses:
        '200':
          description: OK
          headers: {}
          examples:
            application/json:
            - code: SE0001
              name: Akalla
              description: >-
                I de gamla tryckertilokalerna på Vandagatan hittar ni oss på
                Depå Akalla.
              phones:
              - number: 08-477 11 50
                type: fixed
              email: akalla@hllab.se
              openingHours:
              - name: Regular
                openingHours: '09:00-18:00'
              address:
                streetAddress: Vandagatan 3
                postalCode: 164 74
                city: Akalla
                country: SE
                region: Stockholm
                location:
                  latitude: '57.56236'
                  longitude: '18.34526'
              departments:
              - name: UTHYRNING
                employees:
                - location: Manager
                  firstName: Niklas
                  lastName: Ekwal
                  phones:
                  - number: 08-477 11 50
                    type: fixed
                  email: niklas.ekwall@hllab.se
                  photo: 'http://url./niklas.ekwall.png'
          schema:
            type: array
            items: {}
        '404':
          description: Not Found
          headers: {}
          examples:
            application/json:
              message: Could not find records.
              code: '404'
              errors:
              - domain: global
                reason: backendError
                message: Error message
          schema:
            type: object
            properties:
              message:
                type: string
                description: The meessage of Error.
              code:
                type: string
                description: The error code.
              errors:
                type: array
                description: Array of errors.
                items: {}
            required:
            - message
            - code
        '503':
          description: Service Unavailable
          headers: {}
          examples:
            application/json:
              message: There are no data in the service layer.
              code: '503'
              errors:
              - domain: global
                reason: backendError
                message: Error message
          schema:
            type: object
            properties:
              message:
                type: string
                description: The meessage of Error.
              code:
                type: string
                description: The error code.
              errors:
                type: array
                description: Array of errors.
                items: {}
            required:
            - message
            - code
      summary: List all available depots
      description: ''
      tags:
      - Administration
      parameters: []
      produces:
      - application/json
  /depots/{code}:
    get:
      summary: Request single Depo by "code" identifier.
      responses:
        '200':
          description: OK
          headers: {}
          examples:
            application/json:
              code: SE0001
              name: Akalla
              description: >-
                I de gamla tryckertilokalerna på Vandagatan hittar ni oss på
                Depå Akalla.
              phones:
              - number: 08-477 11 50
                type: fixed
              email: akalla@hllab.se
              openingHours:
              - name: Regular
                openingHours: '09:00-18:00'
              address:
                streetAddress: Vandagatan 3
                postalCode: 164 74
                city: Akalla
                country: SE
                region: Stockholm
                location:
                  latitude: '57.56236'
                  longitude: '18.34526'
              departments:
              - name: UTHYRNING
                employees:
                - location: Manager
                  firstName: Niklas
                  lastName: Ekwal
                  phones:
                  - number: 08-477 11 50
                    type: fixed
                  email: niklas.ekwall@hllab.se
                  photo: 'http://url./niklas.ekwall.png'
          schema:
            type: object
            properties:
              code:
                type: string
                description: The Depot identifier
              name:
                type: string
                description: The name of Depot
              description:
                type: string
                description: The description of Depot.
              phones:
                type: array
                items: {}
              email:
                type: string
                description: The contact mail of Depot.
              openingHours:
                type: array
                items: {}
              address:
                type: object
                properties:
                  streetAddress:
                    type: string
                    description: The street name of location.
                  postalCode:
                    type: string
                    description: The postal Code of Location.
                  city:
                    type: string
                    description: The city name of location.
                  country:
                    type: string
                    description: The country name of location.
                  region:
                    type: string
                    description: The region name of location.
                  location:
                    type: object
                    properties:
                      latitude:
                        type: string
                        description: The latitude of the Depot
                      longitude:
                        type: string
                        description: The longitude of the Depot
                    required:
                    - latitude
                    - longitude
                    description: The lat/long postition of the Depot
                required:
                - streetAddress
                - postalCode
                - city
                - country
                - region
                - location
                description: The address of The Depot.
              departments:
                type: array
                description: The departments in Depot.
                items: {}
            required:
            - code
            - name
            - description
            - phones
            - email
            - address
        '404':
          description: Not Found
          headers: {}
          examples:
            application/json:
              message: Could not find record.
              code: '404'
              errors:
              - domain: global
                reason: backendError
                message: Error message
          schema:
            type: object
            properties:
              message:
                type: string
                description: The meessage of Error.
              code:
                type: string
                description: The error code.
              errors:
                type: array
                description: Array of errors.
                items: {}
            required:
            - message
            - code
        '503':
          description: Service Unavailable
          headers: {}
          examples:
            application/json:
              message: There are no data in the service layer.
              code: '503'
              errors:
              - domain: global
                reason: backendError
                message: Error message
          schema:
            type: object
            properties:
              message:
                type: string
                description: The meessage of Error.
              code:
                type: string
                description: The error code.
              errors:
                type: array
                description: Array of errors.
                items: {}
            required:
            - message
            - code
      description: ''
      tags:
      - Administration
      parameters:
      - name: code
        in: path
        description: The code of the desired depot.
        required: true
        x-example: 2583743adsf0
        type: string
      produces:
      - application/json
  /catalogue/groups/{code}:
    get:
      responses:
        '200':
          description: OK
          headers: {}
          examples:
            application/json:
              items:
              - code: '1'
                name: Heavy machinery
          schema:
            type: object
            properties:
              items:
                type: array
                description: List of items
                items: {}
            required:
            - items
      summary: Load Group
      description: ''
      tags:
      - Administration
      parameters:
      - name: code
        in: path
        description: The group code
        required: true
        x-example: '20'
        type: string
      produces:
      - application/json
  /catalogue/products:
    get:
      responses:
        '200':
          description: OK
          headers: {}
          examples:
            application/json:
              items:
              - equipment:
                  article:
                    number: '1234567890'
                    name: The Dumper
                    description: Lorem imposum
                    sraCode: '211313'
                  offer:
                    name: '"Hyra"'
                    amount: '123.45'
                    price: 12345 kr / alldager
                    unit: st
                  services:
                    article:
                      number: '1234567890'
                      name: The Dumper
                      description: Lorem imposum
                      sraCode: '211313'
                    offer:
                      name: '"Hyra"'
                      amount: '123.45'
                      price: 12345 kr / alldager
                      unit: st
                accessories:
                - article:
                    number: '1234567890'
                    name: The Dumper
                    description: Lorem imposum
                    sraCode: '211313'
                  offer:
                    name: '"Hyra"'
                    amount: '123.45'
                    price: 12345 kr / alldager
                    unit: st
                    preSelected: true
                  services:
                    article:
                      number: '1234567890'
                      name: The Dumper
                      description: Lorem imposum
                      sraCode: '211313'
                    offer:
                      name: '"Hyra"'
                      amount: '123.45'
                      price: 12345 kr / alldager
                      unit: st
          schema:
            type: object
            properties:
              items:
                type: array
                description: List of items
                items: {}
            required:
            - items
      summary: List catalogue assemblies for category
      description: ''
      tags:
      - Administration
      parameters:
      - name: category
        in: query
        description: The category code
        required: true
        x-example: '20'
        type: string
      produces:
      - application/json
  /catalogue/products/{number}:
    get:
      summary: Get catalogue assembly
      description: Allow user to browse products data
      responses:
        '200':
          description: OK
          headers: {}
          examples:
            application/json:
              equipment:
                article:
                  number: '1234567890'
                  name: The Dumper
                  description: Lorem imposum
                  sraCode: '211313'
                offer:
                  name: '"Hyra"'
                  amount: '123.45'
                  price: 12345 kr / alldager
                  unit: st
                services:
                  article:
                    number: '1234567890'
                    name: The Dumper
                    description: Lorem imposum
                    sraCode: '211313'
                  offer:
                    name: '"Hyra"'
                    amount: '123.45'
                    price: 12345 kr / alldager
                    unit: st
              accessories:
              - article:
                  number: '1234567890'
                  name: The Dumper
                  description: Lorem imposum
                  sraCode: '211313'
                offer:
                  name: '"Hyra"'
                  amount: '123.45'
                  price: 12345 kr / alldager
                  unit: st
                  preSelected: true
                services:
                  article:
                    number: '1234567890'
                    name: The Dumper
                    description: Lorem imposum
                    sraCode: '211313'
                  offer:
                    name: '"Hyra"'
                    amount: '123.45'
                    price: 12345 kr / alldager
                    unit: st
          schema:
            type: object
            properties:
              equipment:
                type: object
                properties:
                  article:
                    type: object
                    properties:
                      number:
                        type: string
                        description: Article unique number.
                      name:
                        type: string
                        description: Article name long for 30 char.
                      description:
                        type: string
                        description: Article description long for 255 char.
                      sraCode:
                        type: string
                        description: Equipment identifier
                    required:
                    - number
                    description: The Article data
                  offer:
                    type: object
                    properties:
                      name:
                        type: string
                        description: 'Define type on of (Rental,Usage,Purchase)'
                      amount:
                        type: string
                        description: Proposed amount
                      price:
                        type: string
                        description: Unit price with cost type
                      unit:
                        type: string
                        description: Unit value
                    required:
                    - name
                    - amount
                    description: The Offer data
                  services:
                    type: object
                    properties:
                      article:
                        type: object
                        properties:
                          number:
                            type: string
                            description: Article unique number.
                          name:
                            type: string
                            description: Article name long for 30 char.
                          description:
                            type: string
                            description: Article description long for 255 char.
                          sraCode:
                            type: string
                            description: Equipment identifier
                        required:
                        - number
                        description: The Article data
                      offer:
                        type: object
                        properties:
                          name:
                            type: string
                            description: 'Define type on of (Rental,Usage,Purchase)'
                          amount:
                            type: string
                            description: Proposed amount
                          price:
                            type: string
                            description: Unit price with cost type
                          unit:
                            type: string
                            description: Unit value
                        required:
                        - name
                        - amount
                        description: The Offer data
                    required:
                    - article
                    - offer
                    description: The services related to product
                required:
                - article
                - offer
                description: Product for rent with services
              accessories:
                type: array
                description: Accessories related to equipment.
                items: {}
            required:
            - equipment
            - accessories
      tags:
      - Administration
      parameters:
      - in: path
        name: number
        required: true
        type: integer
      produces:
      - application/json
  /identity:
    get:
      responses:
        '200':
          description: OK
          headers: {}
          examples:
            application/json:
              token: 94b81440-5b36-4aa8-ac70-ea562be8332a
          schema:
            type: object
            properties:
              token:
                type: string
                description: The unique device identification token
            required:
            - token
      summary: Create device token
      description: ''
      tags:
      - Identification
      parameters: []
      produces:
      - application/json
    post:
      responses:
        '200':
          description: OK
          headers: {}
          examples:
            application/json:
              token: 94b81440-5b36-4aa8-ac70-ea562be8332a
          schema:
            type: object
            properties:
              token:
                type: string
                description: The unique device identification token
            required:
            - token
        '404':
          description: Not Found
          headers: {}
          examples:
            application/json:
              message: ''
              code: '404'
              errors:
              - domain: global
                reason: backendError
                message: Error message
          schema:
            type: object
            properties:
              message:
                type: string
                description: The meessage of Error.
              code:
                type: string
                description: The error code.
              errors:
                type: array
                description: Array of errors.
                items: {}
            required:
            - message
            - code
        '409':
          description: Conflict
          headers: {}
          examples:
            application/json:
              message: Token already exist.
              code: '409'
              errors:
              - domain: global
                reason: backendError
                message: Error message
          schema:
            type: object
            properties:
              message:
                type: string
                description: The meessage of Error.
              code:
                type: string
                description: The error code.
              errors:
                type: array
                description: Array of errors.
                items: {}
            required:
            - message
            - code
      summary: Register device token
      description: ''
      tags:
      - Identification
      parameters:
      - in: body
        name: token
        required: true
        schema:
          type: string
      produces:
      - application/json
    delete:
      responses:
        '200':
          description: OK
          headers: {}
          examples:
            application/json:
              token: 94b81440-5b36-4aa8-ac70-ea562be8332a
          schema:
            type: object
            properties:
              token:
                type: string
                description: The unique device identification token
            required:
            - token
        '404':
          description: Not Found
          headers: {}
          examples:
            application/json:
              message: ''
              code: '404'
              errors:
              - domain: global
                reason: backendError
                message: Error message
          schema:
            type: object
            properties:
              message:
                type: string
                description: The meessage of Error.
              code:
                type: string
                description: The error code.
              errors:
                type: array
                description: Array of errors.
                items: {}
            required:
            - message
            - code
      summary: Delete device token
      description: ''
      tags:
      - Identification
      parameters:
      - in: body
        name: token
        required: true
        schema:
          type: string
      produces:
      - application/json
  /templates:
    get:
      responses:
        '200':
          description: OK
          headers: {}
          examples:
            application/json:
              items:
              - id: AS3423
                name: Renovera badrum
                imageUrl: >-
                  https://syd.hyreslandslaget.se/static/files/1001/top_hll_miljo_006.jpg
              - id: AS3423
                name: Renovera badrum
                imageUrl: >-
                  https://syd.hyreslandslaget.se/static/files/1001/top_hll_miljo_006.jpg
              - id: AS3423
                name: Renovera badrum
                imageUrl: >-
                  https://syd.hyreslandslaget.se/static/files/1001/top_hll_miljo_006.jpg
              - id: AS3423
                name: Renovera badrum
                imageUrl: >-
                  https://syd.hyreslandslaget.se/static/files/1001/top_hll_miljo_006.jpg
              - id: AS3423
                name: Renovera badrum
                imageUrl: >-
                  https://syd.hyreslandslaget.se/static/files/1001/top_hll_miljo_006.jpg
              - id: AS3423
                name: Renovera badrum
                imageUrl: >-
                  https://syd.hyreslandslaget.se/static/files/1001/top_hll_miljo_006.jpg
              - id: AS3423
                name: Renovera badrum
                imageUrl: >-
                  https://syd.hyreslandslaget.se/static/files/1001/top_hll_miljo_006.jpg
              - id: AS3423
                name: Renovera badrum
                imageUrl: >-
                  https://syd.hyreslandslaget.se/static/files/1001/top_hll_miljo_006.jpg
              - id: AS3423
                name: Renovera badrum
                imageUrl: >-
                  https://syd.hyreslandslaget.se/static/files/1001/top_hll_miljo_006.jpg
          schema:
            type: object
            properties:
              items:
                type: array
                items: {}
        '403':
          description: Forbidden
          headers: {}
          examples:
            application/json:
              message: Resource not allowed
              code: 403
              errors:
              - domain: global
                reason: backendError
                message: Error message
          schema:
            type: object
            properties:
              message:
                type: string
                description: The meessage of Error.
              code:
                type: number
                description: The error code.
              errors:
                type: array
                description: Array of errors.
                items: {}
            required:
            - message
            - code
        '404':
          description: Not Found
          headers: {}
          examples:
            application/json:
              message: Resource not found
              code: 404
              errors:
              - domain: global
                reason: backendError
                message: Error message
          schema:
            type: object
            properties:
              message:
                type: string
                description: The meessage of Error.
              code:
                type: number
                description: The error code.
              errors:
                type: array
                description: Array of errors.
                items: {}
            required:
            - message
            - code
      summary: List templates
      description: ''
      tags:
      - Identification
      parameters: []
      produces:
      - application/json
  /estimates/:
    post:
      responses:
        '200':
          description: OK
          headers: {}
          examples:
            application/json:
              id: AS3423
              name: Name
              color: '#ff0055'
              price: 800 kr
              modified: '2017-01-12T15:46:58Z'
              period:
                start: '2017-01-12T15:46:58Z'
                finish: '2017-01-12T15:46:58Z'
              assemblies:
              - id: 123
                equipment:
                  article:
                    number: '1234567890'
                    name: The Dumper
                    description: Lorem imposum
                    sraCode: '211313'
                  offer:
                    name: '"Hyra"'
                    amount: '123.45'
                    price: 12345 kr / alldager
                    unit: st
                  services:
                    article:
                      number: '1234567890'
                      name: The Dumper
                      description: Lorem imposum
                      sraCode: '211313'
                    offer:
                      name: '"Hyra"'
                      amount: '123.45'
                      price: 12345 kr / alldager
                      unit: st
                  order:
                    amount: 1234.56
                    discount: 123
                    price: 1234567.89 kr
                accessories:
                - article:
                    number: '1234567890'
                    name: The Dumper
                    description: Lorem imposum
                    sraCode: '211313'
                  offer:
                    name: '"Hyra"'
                    amount: '123.45'
                    price: 12345 kr / alldager
                    unit: st
                    preSelected: true
                  services:
                    article:
                      number: '1234567890'
                      name: The Dumper
                      description: Lorem imposum
                      sraCode: '211313'
                    offer:
                      name: '"Hyra"'
                      amount: '123.45'
                      price: 12345 kr / alldager
                      unit: st
                  order:
                    amount: 1234.56
                    discount: 123
                    price: 1234567.89 kr
              discounts:
                classes:
                - code: '23'
                  name: Some name
                  value: 10
                categories:
                - code: '23'
                  name: Some name
                  value: 10
              insurance:
                price: 150 kr
              delivery:
                destination:
                  latitude: '57.56236'
                  longitude: '18.34526'
                fare:
                  price: 150 kr
                status: ESTIMATED
                message: A description of the status
          schema:
            type: object
            properties:
              id:
                type: string
                description: The unique identifier
              name:
                type: string
                description: The name of estimate
              color:
                type: string
                description: The color of the estimate
              price:
                type: string
                description: The total productPrice
              modified:
                type: string
                description: ISO 8601 The last modified date
              period:
                type: object
                properties:
                  start:
                    type: string
                    description: ISO 8601 Inform about start date
                  finish:
                    type: string
                    description: ISO 8601 Inform about finish date
                required:
                - start
                - finish
                description: The rental period
              assemblies:
                type: array
                description: The rental items
                items: {}
              discounts:
                type: object
                properties:
                  classes:
                    type: array
                    items: {}
                  categories:
                    type: array
                    items: {}
                description: The rental active discounts
              insurance:
                type: object
                properties:
                  price:
                    type: string
                    description: The price of insurance
                description: >-
                  The insurance for this estimate, if it is absent it means the
                  estimate is not ensured
              delivery:
                type: object
                properties:
                  destination:
                    type: object
                    properties:
                      latitude:
                        type: string
                        description: The latitude of the Depot
                      longitude:
                        type: string
                        description: The longitude of the Depot
                    required:
                    - latitude
                    - longitude
                    description: The location for delivery
                  fare:
                    type: object
                    properties:
                      price:
                        type: string
                        description: The productPrice of delivery
                    required:
                    - price
                    description: The fare for delivery
                  status:
                    type: string
                    description: >-
                      Status of Delivery One of
                      (ROUTE_NOT_FOUND,DISTANCE_TO_BIG,,DISTANCE_TO_SMALL,WEIGHT_TO_BIG,WEIGHT_NOT_FOUND,ZONE_NOT_SUPPORTED)
                  message:
                    type: string
                    description: description
                required:
                - status
                description: The delivery for this estimate
        '403':
          description: Forbidden
          headers: {}
          examples:
            application/json:
              message: Resource not allowed
              code: 403
              errors:
              - domain: global
                reason: backendError
                message: Error message
          schema:
            type: object
            properties:
              message:
                type: string
                description: The meessage of Error.
              code:
                type: number
                description: The error code.
              errors:
                type: array
                description: Array of errors.
                items: {}
            required:
            - message
            - code
        '404':
          description: Not Found
          headers: {}
          examples:
            application/json:
              message: Resource not found
              code: 404
              errors:
              - domain: global
                reason: backendError
                message: Error message
          schema:
            type: object
            properties:
              message:
                type: string
                description: The meessage of Error.
              code:
                type: number
                description: The error code.
              errors:
                type: array
                description: Array of errors.
                items: {}
            required:
            - message
            - code
      summary: Create estimate
      description: ''
      tags:
      - Estimate
      parameters:
      - name: template
        in: query
        description: The ID of the template to base the new estimate on
        required: false
        x-example: AS3423
        type: string
      - name: body
        in: body
        schema:
          type: object
          properties:
            id:
              type: string
              description: The unique identifier
            name:
              type: string
              description: The name of estimate
            color:
              type: string
              description: The color of the estimate
            price:
              type: string
              description: The total productPrice
            modified:
              type: string
              description: ISO 8601 The last modified date
            period:
              type: object
              properties:
                start:
                  type: string
                  description: ISO 8601 Inform about start date
                finish:
                  type: string
                  description: ISO 8601 Inform about finish date
              required:
              - start
              - finish
              description: The rental period
            assemblies:
              type: array
              items: {}
              description: The rental items
            discounts:
              type: object
              properties:
                classes:
                  type: array
                  items: {}
                categories:
                  type: array
                  items: {}
              description: The rental active discounts
            insurance:
              type: object
              properties:
                price:
                  type: string
                  description: The price of insurance
              description: >-
                The insurance for this estimate, if it is absent it means the
                estimate is not ensured
            delivery:
              type: object
              properties:
                destination:
                  type: object
                  properties:
                    latitude:
                      type: string
                      description: The latitude of the Depot
                    longitude:
                      type: string
                      description: The longitude of the Depot
                  required:
                  - latitude
                  - longitude
                  description: The location for delivery
                fare:
                  type: object
                  properties:
                    price:
                      type: string
                      description: The productPrice of delivery
                  required:
                  - price
                  description: The fare for delivery
                status:
                  type: string
                  description: >-
                    Status of Delivery One of
                    (ROUTE_NOT_FOUND,DISTANCE_TO_BIG,,DISTANCE_TO_SMALL,WEIGHT_TO_BIG,WEIGHT_NOT_FOUND,ZONE_NOT_SUPPORTED)
                message:
                  type: string
                  description: description
              required:
              - status
              description: The delivery for this estimate
          example:
            id: AS3423
            name: Name
            color: '#ff0055'
            price: 800 kr
            modified: '2017-01-12T15:46:58Z'
            period:
              start: '2017-01-12T15:46:58Z'
              finish: '2017-01-12T15:46:58Z'
            assemblies:
            - id: 123
              equipment:
                article:
                  number: '1234567890'
                  name: The Dumper
                  description: Lorem imposum
                  sraCode: '211313'
                offer:
                  name: '"Hyra"'
                  amount: '123.45'
                  price: 12345 kr / alldager
                  unit: st
                services:
                  article:
                    number: '1234567890'
                    name: The Dumper
                    description: Lorem imposum
                    sraCode: '211313'
                  offer:
                    name: '"Hyra"'
                    amount: '123.45'
                    price: 12345 kr / alldager
                    unit: st
                order:
                  amount: 1234.56
                  discount: 123
                  price: 1234567.89 kr
              accessories:
              - article:
                  number: '1234567890'
                  name: The Dumper
                  description: Lorem imposum
                  sraCode: '211313'
                offer:
                  name: '"Hyra"'
                  amount: '123.45'
                  price: 12345 kr / alldager
                  unit: st
                  preSelected: true
                services:
                  article:
                    number: '1234567890'
                    name: The Dumper
                    description: Lorem imposum
                    sraCode: '211313'
                  offer:
                    name: '"Hyra"'
                    amount: '123.45'
                    price: 12345 kr / alldager
                    unit: st
                order:
                  amount: 1234.56
                  discount: 123
                  price: 1234567.89 kr
            discounts:
              classes:
              - code: '23'
                name: Some name
                value: 10
              categories:
              - code: '23'
                name: Some name
                value: 10
            insurance:
              price: 150 kr
            delivery:
              destination:
                latitude: '57.56236'
                longitude: '18.34526'
              fare:
                price: 150 kr
              status: ESTIMATED
              message: A description of the status
      produces:
      - application/json
    get:
      responses:
        '200':
          description: OK
          headers: {}
          examples:
            application/json:
              items:
              - id: AS3423
                name: Name
                color: '#ff0055'
                price: 800 kr
                modified: '2017-01-12T15:46:58Z'
                period:
                  start: '2017-01-12T15:46:58Z'
                  finish: '2017-01-12T15:46:58Z'
                assemblies:
                - id: 123
                  equipment:
                    article:
                      number: '1234567890'
                      name: The Dumper
                      description: Lorem imposum
                      sraCode: '211313'
                    offer:
                      name: '"Hyra"'
                      amount: '123.45'
                      price: 12345 kr / alldager
                      unit: st
                    services:
                      article:
                        number: '1234567890'
                        name: The Dumper
                        description: Lorem imposum
                        sraCode: '211313'
                      offer:
                        name: '"Hyra"'
                        amount: '123.45'
                        price: 12345 kr / alldager
                        unit: st
                    order:
                      amount: 1234.56
                      discount: 123
                      price: 1234567.89 kr
                  accessories:
                  - article:
                      number: '1234567890'
                      name: The Dumper
                      description: Lorem imposum
                      sraCode: '211313'
                    offer:
                      name: '"Hyra"'
                      amount: '123.45'
                      price: 12345 kr / alldager
                      unit: st
                      preSelected: true
                    services:
                      article:
                        number: '1234567890'
                        name: The Dumper
                        description: Lorem imposum
                        sraCode: '211313'
                      offer:
                        name: '"Hyra"'
                        amount: '123.45'
                        price: 12345 kr / alldager
                        unit: st
                    order:
                      amount: 1234.56
                      discount: 123
                      price: 1234567.89 kr
                discounts:
                  classes:
                  - code: '23'
                    name: Some name
                    value: 10
                  categories:
                  - code: '23'
                    name: Some name
                    value: 10
                insurance:
                  price: 150 kr
                delivery:
                  destination:
                    latitude: '57.56236'
                    longitude: '18.34526'
                  fare:
                    price: 150 kr
                  status: ESTIMATED
                  message: A description of the status
          schema:
            type: object
            properties:
              items:
                type: array
                items: {}
        '403':
          description: Forbidden
          headers: {}
          examples:
            application/json:
              message: Resource not allowed
              code: 403
              errors:
              - domain: global
                reason: backendError
                message: Error message
          schema:
            type: object
            properties:
              message:
                type: string
                description: The meessage of Error.
              code:
                type: number
                description: The error code.
              errors:
                type: array
                description: Array of errors.
                items: {}
            required:
            - message
            - code
        '404':
          description: Not Found
          headers: {}
          examples:
            application/json:
              message: Resource not found
              code: 404
              errors:
              - domain: global
                reason: backendError
                message: Error message
          schema:
            type: object
            properties:
              message:
                type: string
                description: The meessage of Error.
              code:
                type: number
                description: The error code.
              errors:
                type: array
                description: Array of errors.
                items: {}
            required:
            - message
            - code
      summary: List estimates
      description: ''
      tags:
      - Estimate
      parameters: []
      produces:
      - application/json
  /estimates/{id}:
    parameters:
    - name: id
      in: path
      description: The code of the desired estimate.
      required: true
      x-example: 2583743adsf0
      type: string
    get:
      responses:
        '200':
          description: OK
          headers: {}
          examples:
            application/json:
              id: AS3423
              name: Name
              color: '#ff0055'
              price: 800 kr
              modified: '2017-01-12T15:46:58Z'
              period:
                start: '2017-01-12T15:46:58Z'
                finish: '2017-01-12T15:46:58Z'
              assemblies:
              - id: 123
                equipment:
                  article:
                    number: '1234567890'
                    name: The Dumper
                    description: Lorem imposum
                    sraCode: '211313'
                  offer:
                    name: '"Hyra"'
                    amount: '123.45'
                    price: 12345 kr / alldager
                    unit: st
                  services:
                    article:
                      number: '1234567890'
                      name: The Dumper
                      description: Lorem imposum
                      sraCode: '211313'
                    offer:
                      name: '"Hyra"'
                      amount: '123.45'
                      price: 12345 kr / alldager
                      unit: st
                  order:
                    amount: 1234.56
                    discount: 123
                    price: 1234567.89 kr
                accessories:
                - article:
                    number: '1234567890'
                    name: The Dumper
                    description: Lorem imposum
                    sraCode: '211313'
                  offer:
                    name: '"Hyra"'
                    amount: '123.45'
                    price: 12345 kr / alldager
                    unit: st
                    preSelected: true
                  services:
                    article:
                      number: '1234567890'
                      name: The Dumper
                      description: Lorem imposum
                      sraCode: '211313'
                    offer:
                      name: '"Hyra"'
                      amount: '123.45'
                      price: 12345 kr / alldager
                      unit: st
                  order:
                    amount: 1234.56
                    discount: 123
                    price: 1234567.89 kr
              discounts:
                classes:
                - code: '23'
                  name: Some name
                  value: 10
                categories:
                - code: '23'
                  name: Some name
                  value: 10
              insurance:
                price: 150 kr
              delivery:
                destination:
                  latitude: '57.56236'
                  longitude: '18.34526'
                fare:
                  price: 150 kr
                status: ESTIMATED
                message: A description of the status
          schema:
            type: object
            properties:
              id:
                type: string
                description: The unique identifier
              name:
                type: string
                description: The name of estimate
              color:
                type: string
                description: The color of the estimate
              price:
                type: string
                description: The total productPrice
              modified:
                type: string
                description: ISO 8601 The last modified date
              period:
                type: object
                properties:
                  start:
                    type: string
                    description: ISO 8601 Inform about start date
                  finish:
                    type: string
                    description: ISO 8601 Inform about finish date
                required:
                - start
                - finish
                description: The rental period
              assemblies:
                type: array
                description: The rental items
                items: {}
              discounts:
                type: object
                properties:
                  classes:
                    type: array
                    items: {}
                  categories:
                    type: array
                    items: {}
                description: The rental active discounts
              insurance:
                type: object
                properties:
                  price:
                    type: string
                    description: The price of insurance
                description: >-
                  The insurance for this estimate, if it is absent it means the
                  estimate is not ensured
              delivery:
                type: object
                properties:
                  destination:
                    type: object
                    properties:
                      latitude:
                        type: string
                        description: The latitude of the Depot
                      longitude:
                        type: string
                        description: The longitude of the Depot
                    required:
                    - latitude
                    - longitude
                    description: The location for delivery
                  fare:
                    type: object
                    properties:
                      price:
                        type: string
                        description: The productPrice of delivery
                    required:
                    - price
                    description: The fare for delivery
                  status:
                    type: string
                    description: >-
                      Status of Delivery One of
                      (ROUTE_NOT_FOUND,DISTANCE_TO_BIG,,DISTANCE_TO_SMALL,WEIGHT_TO_BIG,WEIGHT_NOT_FOUND,ZONE_NOT_SUPPORTED)
                  message:
                    type: string
                    description: description
                required:
                - status
                description: The delivery for this estimate
        '403':
          description: Forbidden
          headers: {}
          examples:
            application/json:
              message: Resource not allowed
              code: 403
              errors:
              - domain: global
                reason: backendError
                message: Error message
          schema:
            type: object
            properties:
              message:
                type: string
                description: The meessage of Error.
              code:
                type: number
                description: The error code.
              errors:
                type: array
                description: Array of errors.
                items: {}
            required:
            - message
            - code
        '404':
          description: Not Found
          headers: {}
          examples:
            application/json:
              message: Resource not found
              code: 404
              errors:
              - domain: global
                reason: backendError
                message: Error message
          schema:
            type: object
            properties:
              message:
                type: string
                description: The meessage of Error.
              code:
                type: number
                description: The error code.
              errors:
                type: array
                description: Array of errors.
                items: {}
            required:
            - message
            - code
      summary: Get estimate
      description: ''
      tags:
      - Estimate
      parameters: []
      produces:
      - application/json
    delete:
      responses:
        '204':
          description: No Content
          headers: {}
          examples: {}
        '403':
          description: Forbidden
          headers: {}
          examples:
            application/json:
              message: Resource not allowed
              code: 403
              errors:
              - domain: global
                reason: backendError
                message: Error message
          schema:
            type: object
            properties:
              message:
                type: string
                description: The meessage of Error.
              code:
                type: number
                description: The error code.
              errors:
                type: array
                description: Array of errors.
                items: {}
            required:
            - message
            - code
        '404':
          description: Not Found
          headers: {}
          examples:
            application/json:
              message: Resource not found
              code: 404
              errors:
              - domain: global
                reason: backendError
                message: Error message
          schema:
            type: object
            properties:
              message:
                type: string
                description: The meessage of Error.
              code:
                type: number
                description: The error code.
              errors:
                type: array
                description: Array of errors.
                items: {}
            required:
            - message
            - code
      summary: Delete estimate
      description: ''
      tags:
      - Estimate
      parameters: []
      produces:
      - application/json
  /estimates/{id}?type=pdf:
    get:
      responses:
        '200':
          description: OK
          headers: {}
          examples:
            application/pdf: ''
        '403':
          description: Forbidden
          headers: {}
          examples:
            application/json:
              message: Resource not allowed
              code: 403
              errors:
              - domain: global
                reason: backendError
                message: Error message
          schema:
            type: object
            properties:
              message:
                type: string
                description: The meessage of Error.
              code:
                type: number
                description: The error code.
              errors:
                type: array
                description: Array of errors.
                items: {}
            required:
            - message
            - code
        '404':
          description: Not Found
          headers: {}
          examples:
            application/json:
              message: Resource not found
              code: 404
              errors:
              - domain: global
                reason: backendError
                message: Error message
          schema:
            type: object
            properties:
              message:
                type: string
                description: The meessage of Error.
              code:
                type: number
                description: The error code.
              errors:
                type: array
                description: Array of errors.
                items: {}
            required:
            - message
            - code
      summary: Get estimate as PDF
      description: ''
      tags:
      - Estimate
      parameters: []
      produces:
      - application/pdf
      - application/json
  /estimates/{id}/characteristics:
    put:
      responses:
        '200':
          description: OK
          headers: {}
          examples:
            application/json:
              id: AS3423
              name: Name
              color: '#ff0055'
              price: 800 kr
              modified: '2017-01-12T15:46:58Z'
          schema:
            type: object
            properties:
              id:
                type: string
                description: The unique identifier
              name:
                type: string
                description: The name of estimate
              color:
                type: string
                description: The color of the estimate
              price:
                type: string
                description: The total productPrice
              modified:
                type: string
                description: ISO 8601 The last modified date
        '403':
          description: Forbidden
          headers: {}
          examples:
            application/json:
              message: Resource not allowed
              code: 403
              errors:
              - domain: global
                reason: backendError
                message: Error message
          schema:
            type: object
            properties:
              message:
                type: string
                description: The meessage of Error.
              code:
                type: number
                description: The error code.
              errors:
                type: array
                description: Array of errors.
                items: {}
            required:
            - message
            - code
        '404':
          description: Not Found
          headers: {}
          examples:
            application/json:
              message: Resource not found
              code: 404
              errors:
              - domain: global
                reason: backendError
                message: Error message
          schema:
            type: object
            properties:
              message:
                type: string
                description: The meessage of Error.
              code:
                type: number
                description: The error code.
              errors:
                type: array
                description: Array of errors.
                items: {}
            required:
            - message
            - code
      summary: Update estimate characteristics
      description: ''
      tags:
      - Estimate
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/Estimate Characteristic'
      produces:
      - application/json
  /estimates/{estimateId}/period:
    put:
      responses:
        '200':
          description: OK
          headers: {}
          examples:
            application/json:
              id: AS3423
              name: Name
              color: '#ff0055'
              price: 800 kr
              modified: '2017-01-12T15:46:58Z'
              period:
                start: '2017-01-12T15:46:58Z'
                finish: '2017-01-12T15:46:58Z'
              assemblies:
              - id: 123
                equipment:
                  article:
                    number: '1234567890'
                    name: The Dumper
                    description: Lorem imposum
                    sraCode: '211313'
                  offer:
                    name: '"Hyra"'
                    amount: '123.45'
                    price: 12345 kr / alldager
                    unit: st
                  services:
                    article:
                      number: '1234567890'
                      name: The Dumper
                      description: Lorem imposum
                      sraCode: '211313'
                    offer:
                      name: '"Hyra"'
                      amount: '123.45'
                      price: 12345 kr / alldager
                      unit: st
                  order:
                    amount: 1234.56
                    discount: 123
                    price: 1234567.89 kr
                accessories:
                - article:
                    number: '1234567890'
                    name: The Dumper
                    description: Lorem imposum
                    sraCode: '211313'
                  offer:
                    name: '"Hyra"'
                    amount: '123.45'
                    price: 12345 kr / alldager
                    unit: st
                    preSelected: true
                  services:
                    article:
                      number: '1234567890'
                      name: The Dumper
                      description: Lorem imposum
                      sraCode: '211313'
                    offer:
                      name: '"Hyra"'
                      amount: '123.45'
                      price: 12345 kr / alldager
                      unit: st
                  order:
                    amount: 1234.56
                    discount: 123
                    price: 1234567.89 kr
              discounts:
                classes:
                - code: '23'
                  name: Some name
                  value: 10
                categories:
                - code: '23'
                  name: Some name
                  value: 10
              insurance:
                price: 150 kr
              delivery:
                destination:
                  latitude: '57.56236'
                  longitude: '18.34526'
                fare:
                  price: 150 kr
                status: ESTIMATED
                message: A description of the status
          schema:
            type: object
            properties:
              id:
                type: string
                description: The unique identifier
              name:
                type: string
                description: The name of estimate
              color:
                type: string
                description: The color of the estimate
              price:
                type: string
                description: The total productPrice
              modified:
                type: string
                description: ISO 8601 The last modified date
              period:
                type: object
                properties:
                  start:
                    type: string
                    description: ISO 8601 Inform about start date
                  finish:
                    type: string
                    description: ISO 8601 Inform about finish date
                required:
                - start
                - finish
                description: The rental period
              assemblies:
                type: array
                description: The rental items
                items: {}
              discounts:
                type: object
                properties:
                  classes:
                    type: array
                    items: {}
                  categories:
                    type: array
                    items: {}
                description: The rental active discounts
              insurance:
                type: object
                properties:
                  price:
                    type: string
                    description: The price of insurance
                description: >-
                  The insurance for this estimate, if it is absent it means the
                  estimate is not ensured
              delivery:
                type: object
                properties:
                  destination:
                    type: object
                    properties:
                      latitude:
                        type: string
                        description: The latitude of the Depot
                      longitude:
                        type: string
                        description: The longitude of the Depot
                    required:
                    - latitude
                    - longitude
                    description: The location for delivery
                  fare:
                    type: object
                    properties:
                      price:
                        type: string
                        description: The productPrice of delivery
                    required:
                    - price
                    description: The fare for delivery
                  status:
                    type: string
                    description: >-
                      Status of Delivery One of
                      (ROUTE_NOT_FOUND,DISTANCE_TO_BIG,,DISTANCE_TO_SMALL,WEIGHT_TO_BIG,WEIGHT_NOT_FOUND,ZONE_NOT_SUPPORTED)
                  message:
                    type: string
                    description: description
                required:
                - status
                description: The delivery for this estimate
        '403':
          description: Forbidden
          headers: {}
          examples:
            application/json:
              message: Resource not allowed
              code: 403
              errors:
              - domain: global
                reason: backendError
                message: Error message
          schema:
            type: object
            properties:
              message:
                type: string
                description: The meessage of Error.
              code:
                type: number
                description: The error code.
              errors:
                type: array
                description: Array of errors.
                items: {}
            required:
            - message
            - code
        '404':
          description: Not Found
          headers: {}
          examples:
            application/json:
              message: Resource not found
              code: 404
              errors:
              - domain: global
                reason: backendError
                message: Error message
          schema:
            type: object
            properties:
              message:
                type: string
                description: The meessage of Error.
              code:
                type: number
                description: The error code.
              errors:
                type: array
                description: Array of errors.
                items: {}
            required:
            - message
            - code
      summary: Update estimate period
      description: ''
      tags:
      - Estimate
      parameters:
      - name: estimateId
        in: path
        description: The id of estimate.
        required: true
        x-example: 987134-o87sdf
        type: string
      - name: body
        in: body
        schema:
          $ref: '#/definitions/Period Base'
      produces:
      - application/json
  /estimates/{id}/discounts:
    post:
      responses:
        '200':
          description: OK
          headers: {}
          examples:
            application/json:
              id: AS3423
              name: Name
              color: '#ff0055'
              price: 800 kr
              modified: '2017-01-12T15:46:58Z'
              period:
                start: '2017-01-12T15:46:58Z'
                finish: '2017-01-12T15:46:58Z'
              assemblies:
              - id: 123
                equipment:
                  article:
                    number: '1234567890'
                    name: The Dumper
                    description: Lorem imposum
                    sraCode: '211313'
                  offer:
                    name: '"Hyra"'
                    amount: '123.45'
                    price: 12345 kr / alldager
                    unit: st
                  services:
                    article:
                      number: '1234567890'
                      name: The Dumper
                      description: Lorem imposum
                      sraCode: '211313'
                    offer:
                      name: '"Hyra"'
                      amount: '123.45'
                      price: 12345 kr / alldager
                      unit: st
                  order:
                    amount: 1234.56
                    discount: 123
                    price: 1234567.89 kr
                accessories:
                - article:
                    number: '1234567890'
                    name: The Dumper
                    description: Lorem imposum
                    sraCode: '211313'
                  offer:
                    name: '"Hyra"'
                    amount: '123.45'
                    price: 12345 kr / alldager
                    unit: st
                    preSelected: true
                  services:
                    article:
                      number: '1234567890'
                      name: The Dumper
                      description: Lorem imposum
                      sraCode: '211313'
                    offer:
                      name: '"Hyra"'
                      amount: '123.45'
                      price: 12345 kr / alldager
                      unit: st
                  order:
                    amount: 1234.56
                    discount: 123
                    price: 1234567.89 kr
              discounts:
                classes:
                - code: '23'
                  name: Some name
                  value: 10
                categories:
                - code: '23'
                  name: Some name
                  value: 10
              insurance:
                price: 150 kr
              delivery:
                destination:
                  latitude: '57.56236'
                  longitude: '18.34526'
                fare:
                  price: 150 kr
                status: ESTIMATED
                message: A description of the status
          schema:
            type: object
            properties:
              id:
                type: string
                description: The unique identifier
              name:
                type: string
                description: The name of estimate
              color:
                type: string
                description: The color of the estimate
              price:
                type: string
                description: The total productPrice
              modified:
                type: string
                description: ISO 8601 The last modified date
              period:
                type: object
                properties:
                  start:
                    type: string
                    description: ISO 8601 Inform about start date
                  finish:
                    type: string
                    description: ISO 8601 Inform about finish date
                required:
                - start
                - finish
                description: The rental period
              assemblies:
                type: array
                description: The rental items
                items: {}
              discounts:
                type: object
                properties:
                  classes:
                    type: array
                    items: {}
                  categories:
                    type: array
                    items: {}
                description: The rental active discounts
              insurance:
                type: object
                properties:
                  price:
                    type: string
                    description: The price of insurance
                description: >-
                  The insurance for this estimate, if it is absent it means the
                  estimate is not ensured
              delivery:
                type: object
                properties:
                  destination:
                    type: object
                    properties:
                      latitude:
                        type: string
                        description: The latitude of the Depot
                      longitude:
                        type: string
                        description: The longitude of the Depot
                    required:
                    - latitude
                    - longitude
                    description: The location for delivery
                  fare:
                    type: object
                    properties:
                      price:
                        type: string
                        description: The productPrice of delivery
                    required:
                    - price
                    description: The fare for delivery
                  status:
                    type: string
                    description: >-
                      Status of Delivery One of
                      (ROUTE_NOT_FOUND,DISTANCE_TO_BIG,,DISTANCE_TO_SMALL,WEIGHT_TO_BIG,WEIGHT_NOT_FOUND,ZONE_NOT_SUPPORTED)
                  message:
                    type: string
                    description: description
                required:
                - status
                description: The delivery for this estimate
        '403':
          description: Forbidden
          headers: {}
          examples:
            application/json:
              message: Resource not allowed
              code: 403
              errors:
              - domain: global
                reason: backendError
                message: Error message
          schema:
            type: object
            properties:
              message:
                type: string
                description: The meessage of Error.
              code:
                type: number
                description: The error code.
              errors:
                type: array
                description: Array of errors.
                items: {}
            required:
            - message
            - code
        '404':
          description: Not Found
          headers: {}
          examples:
            application/json:
              message: Resource not found
              code: 404
              errors:
              - domain: global
                reason: backendError
                message: Error message
          schema:
            type: object
            properties:
              message:
                type: string
                description: The meessage of Error.
              code:
                type: number
                description: The error code.
              errors:
                type: array
                description: Array of errors.
                items: {}
            required:
            - message
            - code
      summary: Set discounts
      description: Write the passed object as is into estimate. And update the price.
      tags:
      - Estimate
      parameters:
      - name: id
        in: path
        description: The id of estimate.
        required: true
        x-example: 987134-o87sdf
        type: string
      - name: body
        in: body
        schema:
          $ref: '#/definitions/Discounts Base'
      produces:
      - application/json
  /estimates/{id}/insurance:
    post:
      responses:
        '200':
          description: OK
          headers: {}
          examples:
            application/json:
              id: AS3423
              name: Name
              color: '#ff0055'
              price: 800 kr
              modified: '2017-01-12T15:46:58Z'
              period:
                start: '2017-01-12T15:46:58Z'
                finish: '2017-01-12T15:46:58Z'
              assemblies:
              - id: 123
                equipment:
                  article:
                    number: '1234567890'
                    name: The Dumper
                    description: Lorem imposum
                    sraCode: '211313'
                  offer:
                    name: '"Hyra"'
                    amount: '123.45'
                    price: 12345 kr / alldager
                    unit: st
                  services:
                    article:
                      number: '1234567890'
                      name: The Dumper
                      description: Lorem imposum
                      sraCode: '211313'
                    offer:
                      name: '"Hyra"'
                      amount: '123.45'
                      price: 12345 kr / alldager
                      unit: st
                  order:
                    amount: 1234.56
                    discount: 123
                    price: 1234567.89 kr
                accessories:
                - article:
                    number: '1234567890'
                    name: The Dumper
                    description: Lorem imposum
                    sraCode: '211313'
                  offer:
                    name: '"Hyra"'
                    amount: '123.45'
                    price: 12345 kr / alldager
                    unit: st
                    preSelected: true
                  services:
                    article:
                      number: '1234567890'
                      name: The Dumper
                      description: Lorem imposum
                      sraCode: '211313'
                    offer:
                      name: '"Hyra"'
                      amount: '123.45'
                      price: 12345 kr / alldager
                      unit: st
                  order:
                    amount: 1234.56
                    discount: 123
                    price: 1234567.89 kr
              discounts:
                classes:
                - code: '23'
                  name: Some name
                  value: 10
                categories:
                - code: '23'
                  name: Some name
                  value: 10
              insurance:
                price: 150 kr
              delivery:
                destination:
                  latitude: '57.56236'
                  longitude: '18.34526'
                fare:
                  price: 150 kr
                status: ESTIMATED
                message: A description of the status
          schema:
            type: object
            properties:
              id:
                type: string
                description: The unique identifier
              name:
                type: string
                description: The name of estimate
              color:
                type: string
                description: The color of the estimate
              price:
                type: string
                description: The total productPrice
              modified:
                type: string
                description: ISO 8601 The last modified date
              period:
                type: object
                properties:
                  start:
                    type: string
                    description: ISO 8601 Inform about start date
                  finish:
                    type: string
                    description: ISO 8601 Inform about finish date
                required:
                - start
                - finish
                description: The rental period
              assemblies:
                type: array
                description: The rental items
                items: {}
              discounts:
                type: object
                properties:
                  classes:
                    type: array
                    items: {}
                  categories:
                    type: array
                    items: {}
                description: The rental active discounts
              insurance:
                type: object
                properties:
                  price:
                    type: string
                    description: The price of insurance
                description: >-
                  The insurance for this estimate, if it is absent it means the
                  estimate is not ensured
              delivery:
                type: object
                properties:
                  destination:
                    type: object
                    properties:
                      latitude:
                        type: string
                        description: The latitude of the Depot
                      longitude:
                        type: string
                        description: The longitude of the Depot
                    required:
                    - latitude
                    - longitude
                    description: The location for delivery
                  fare:
                    type: object
                    properties:
                      price:
                        type: string
                        description: The productPrice of delivery
                    required:
                    - price
                    description: The fare for delivery
                  status:
                    type: string
                    description: >-
                      Status of Delivery One of
                      (ROUTE_NOT_FOUND,DISTANCE_TO_BIG,,DISTANCE_TO_SMALL,WEIGHT_TO_BIG,WEIGHT_NOT_FOUND,ZONE_NOT_SUPPORTED)
                  message:
                    type: string
                    description: description
                required:
                - status
                description: The delivery for this estimate
        '403':
          description: Forbidden
          headers: {}
          examples:
            application/json:
              message: Resource not allowed
              code: 403
              errors:
              - domain: global
                reason: backendError
                message: Error message
          schema:
            type: object
            properties:
              message:
                type: string
                description: The meessage of Error.
              code:
                type: number
                description: The error code.
              errors:
                type: array
                description: Array of errors.
                items: {}
            required:
            - message
            - code
        '404':
          description: Not Found
          headers: {}
          examples:
            application/json:
              message: Resource not found
              code: 404
              errors:
              - domain: global
                reason: backendError
                message: Error message
          schema:
            type: object
            properties:
              message:
                type: string
                description: The meessage of Error.
              code:
                type: number
                description: The error code.
              errors:
                type: array
                description: Array of errors.
                items: {}
            required:
            - message
            - code
      summary: Enable insurance
      description: Enable insurance and recalculate the estimate.
      tags:
      - Estimate
      parameters:
      - name: id
        in: path
        description: The id of estimate.
        required: true
        x-example: 987134-o87sdf
        type: string
      produces:
      - application/json
    delete:
      responses:
        '200':
          description: OK
          headers: {}
          examples:
            application/json:
              id: AS3423
              name: Name
              color: '#ff0055'
              price: 800 kr
              modified: '2017-01-12T15:46:58Z'
              period:
                start: '2017-01-12T15:46:58Z'
                finish: '2017-01-12T15:46:58Z'
              assemblies:
              - id: 123
                equipment:
                  article:
                    number: '1234567890'
                    name: The Dumper
                    description: Lorem imposum
                    sraCode: '211313'
                  offer:
                    name: '"Hyra"'
                    amount: '123.45'
                    price: 12345 kr / alldager
                    unit: st
                  services:
                    article:
                      number: '1234567890'
                      name: The Dumper
                      description: Lorem imposum
                      sraCode: '211313'
                    offer:
                      name: '"Hyra"'
                      amount: '123.45'
                      price: 12345 kr / alldager
                      unit: st
                  order:
                    amount: 1234.56
                    discount: 123
                    price: 1234567.89 kr
                accessories:
                - article:
                    number: '1234567890'
                    name: The Dumper
                    description: Lorem imposum
                    sraCode: '211313'
                  offer:
                    name: '"Hyra"'
                    amount: '123.45'
                    price: 12345 kr / alldager
                    unit: st
                    preSelected: true
                  services:
                    article:
                      number: '1234567890'
                      name: The Dumper
                      description: Lorem imposum
                      sraCode: '211313'
                    offer:
                      name: '"Hyra"'
                      amount: '123.45'
                      price: 12345 kr / alldager
                      unit: st
                  order:
                    amount: 1234.56
                    discount: 123
                    price: 1234567.89 kr
              discounts:
                classes:
                - code: '23'
                  name: Some name
                  value: 10
                categories:
                - code: '23'
                  name: Some name
                  value: 10
              insurance:
                price: 150 kr
              delivery:
                destination:
                  latitude: '57.56236'
                  longitude: '18.34526'
                fare:
                  price: 150 kr
                status: ESTIMATED
                message: A description of the status
          schema:
            type: object
            properties:
              id:
                type: string
                description: The unique identifier
              name:
                type: string
                description: The name of estimate
              color:
                type: string
                description: The color of the estimate
              price:
                type: string
                description: The total productPrice
              modified:
                type: string
                description: ISO 8601 The last modified date
              period:
                type: object
                properties:
                  start:
                    type: string
                    description: ISO 8601 Inform about start date
                  finish:
                    type: string
                    description: ISO 8601 Inform about finish date
                required:
                - start
                - finish
                description: The rental period
              assemblies:
                type: array
                description: The rental items
                items: {}
              discounts:
                type: object
                properties:
                  classes:
                    type: array
                    items: {}
                  categories:
                    type: array
                    items: {}
                description: The rental active discounts
              insurance:
                type: object
                properties:
                  price:
                    type: string
                    description: The price of insurance
                description: >-
                  The insurance for this estimate, if it is absent it means the
                  estimate is not ensured
              delivery:
                type: object
                properties:
                  destination:
                    type: object
                    properties:
                      latitude:
                        type: string
                        description: The latitude of the Depot
                      longitude:
                        type: string
                        description: The longitude of the Depot
                    required:
                    - latitude
                    - longitude
                    description: The location for delivery
                  fare:
                    type: object
                    properties:
                      price:
                        type: string
                        description: The productPrice of delivery
                    required:
                    - price
                    description: The fare for delivery
                  status:
                    type: string
                    description: >-
                      Status of Delivery One of
                      (ROUTE_NOT_FOUND,DISTANCE_TO_BIG,,DISTANCE_TO_SMALL,WEIGHT_TO_BIG,WEIGHT_NOT_FOUND,ZONE_NOT_SUPPORTED)
                  message:
                    type: string
                    description: description
                required:
                - status
                description: The delivery for this estimate
        '403':
          description: Forbidden
          headers: {}
          examples:
            application/json:
              message: Resource not allowed
              code: 403
              errors:
              - domain: global
                reason: backendError
                message: Error message
          schema:
            type: object
            properties:
              message:
                type: string
                description: The meessage of Error.
              code:
                type: number
                description: The error code.
              errors:
                type: array
                description: Array of errors.
                items: {}
            required:
            - message
            - code
        '404':
          description: Not Found
          headers: {}
          examples:
            application/json:
              message: Resource not found
              code: 404
              errors:
              - domain: global
                reason: backendError
                message: Error message
          schema:
            type: object
            properties:
              message:
                type: string
                description: The meessage of Error.
              code:
                type: number
                description: The error code.
              errors:
                type: array
                description: Array of errors.
                items: {}
            required:
            - message
            - code
      summary: Disable Insurance
      description: Disable insurance and recalculate the estimate.
      tags:
      - Estimate
      parameters:
      - name: id
        in: path
        description: The id of estimate.
        required: true
        x-example: 987134-o87sdf
        type: string
      produces:
      - application/json
  /estimates/{id}/delivery:
    post:
      responses:
        '200':
          description: OK
          headers: {}
          examples:
            application/json:
              id: AS3423
              name: Name
              color: '#ff0055'
              price: 800 kr
              modified: '2017-01-12T15:46:58Z'
              period:
                start: '2017-01-12T15:46:58Z'
                finish: '2017-01-12T15:46:58Z'
              assemblies:
              - id: 123
                equipment:
                  article:
                    number: '1234567890'
                    name: The Dumper
                    description: Lorem imposum
                    sraCode: '211313'
                  offer:
                    name: '"Hyra"'
                    amount: '123.45'
                    price: 12345 kr / alldager
                    unit: st
                  services:
                    article:
                      number: '1234567890'
                      name: The Dumper
                      description: Lorem imposum
                      sraCode: '211313'
                    offer:
                      name: '"Hyra"'
                      amount: '123.45'
                      price: 12345 kr / alldager
                      unit: st
                  order:
                    amount: 1234.56
                    discount: 123
                    price: 1234567.89 kr
                accessories:
                - article:
                    number: '1234567890'
                    name: The Dumper
                    description: Lorem imposum
                    sraCode: '211313'
                  offer:
                    name: '"Hyra"'
                    amount: '123.45'
                    price: 12345 kr / alldager
                    unit: st
                    preSelected: true
                  services:
                    article:
                      number: '1234567890'
                      name: The Dumper
                      description: Lorem imposum
                      sraCode: '211313'
                    offer:
                      name: '"Hyra"'
                      amount: '123.45'
                      price: 12345 kr / alldager
                      unit: st
                  order:
                    amount: 1234.56
                    discount: 123
                    price: 1234567.89 kr
              discounts:
                classes:
                - code: '23'
                  name: Some name
                  value: 10
                categories:
                - code: '23'
                  name: Some name
                  value: 10
              insurance:
                price: 150 kr
              delivery:
                destination:
                  latitude: '57.56236'
                  longitude: '18.34526'
                fare:
                  price: 150 kr
                status: ESTIMATED
                message: A description of the status
          schema:
            type: object
            properties:
              id:
                type: string
                description: The unique identifier
              name:
                type: string
                description: The name of estimate
              color:
                type: string
                description: The color of the estimate
              price:
                type: string
                description: The total productPrice
              modified:
                type: string
                description: ISO 8601 The last modified date
              period:
                type: object
                properties:
                  start:
                    type: string
                    description: ISO 8601 Inform about start date
                  finish:
                    type: string
                    description: ISO 8601 Inform about finish date
                required:
                - start
                - finish
                description: The rental period
              assemblies:
                type: array
                description: The rental items
                items: {}
              discounts:
                type: object
                properties:
                  classes:
                    type: array
                    items: {}
                  categories:
                    type: array
                    items: {}
                description: The rental active discounts
              insurance:
                type: object
                properties:
                  price:
                    type: string
                    description: The price of insurance
                description: >-
                  The insurance for this estimate, if it is absent it means the
                  estimate is not ensured
              delivery:
                type: object
                properties:
                  destination:
                    type: object
                    properties:
                      latitude:
                        type: string
                        description: The latitude of the Depot
                      longitude:
                        type: string
                        description: The longitude of the Depot
                    required:
                    - latitude
                    - longitude
                    description: The location for delivery
                  fare:
                    type: object
                    properties:
                      price:
                        type: string
                        description: The productPrice of delivery
                    required:
                    - price
                    description: The fare for delivery
                  status:
                    type: string
                    description: >-
                      Status of Delivery One of
                      (ROUTE_NOT_FOUND,DISTANCE_TO_BIG,,DISTANCE_TO_SMALL,WEIGHT_TO_BIG,WEIGHT_NOT_FOUND,ZONE_NOT_SUPPORTED)
                  message:
                    type: string
                    description: description
                required:
                - status
[...]
