---
swagger: "2.0"
info:
  description: "This is the HLL App API"
  version: "2.0.0"
  title: "Hyreslandslaget - HLL API"
host: "api.hyreslandslaget.se"
basePath: "/"
tags:
- name: "Administration"
  description: "Allow to access informations about Depots and Staff."
- name: "Identification"
  description: "The section focus on the identification of device"
- name: "Estimate"
  description: "The estimates are assigned to specific instance id. In order to use\
    \ them client must first register his using identfication API."
- name: "Search"
  description: "The Search is used for finding content from HLL."
- name: "Overview"
- name: "Project"
schemes:
- "https"
paths:
  /update:
    get:
      tags: []
      summary: "Get the update information"
      description: ""
      operationId: "updateGET"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "OK"
          examples:
            application/json:
              android:
                minVersion: 20000000
                latestVersion: 20000003
                storeUrl: "https://play.google.com/store/apps/details?id=se.hyreslandslaget.app"
              ios:
                minVersion: "1.0.0"
                latestVersion: "1.0.0"
                storeUrl: "https://itunes.apple.com/us/app/hll/id1205522032"
          headers: {}
          schema:
            type: "object"
            required:
            - "android"
            - "ios"
            properties:
              android:
                $ref: "#/definitions/inline_response_200_android"
              ios:
                $ref: "#/definitions/inline_response_200_ios"
      x-swagger-router-controller: "Default"
  /depots:
    get:
      tags:
      - "Administration"
      summary: "List all available depots"
      description: ""
      operationId: "depotsGET"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "OK"
          examples:
            application/json:
            - code: "SE0001"
              name: "Akalla"
              description: "I de gamla tryckertilokalerna på Vandagatan hittar ni\
                \ oss på Depå Akalla."
              phones:
              - number: "08-477 11 50"
                type: "fixed"
              email: "akalla@hllab.se"
              openingHours:
              - name: "Regular"
                openingHours: "09:00-18:00"
              address:
                streetAddress: "Vandagatan 3"
                postalCode: "164 74"
                city: "Akalla"
                country: "SE"
                region: "Stockholm"
                location:
                  latitude: "57.56236"
                  longitude: "18.34526"
              departments:
              - name: "UTHYRNING"
                employees:
                - location: "Manager"
                  firstName: "Niklas"
                  lastName: "Ekwal"
                  phones:
                  - number: "08-477 11 50"
                    type: "fixed"
                  email: "niklas.ekwall@hllab.se"
                  photo: "http://url./niklas.ekwall.png"
          headers: {}
          schema:
            type: "array"
            items: {}
        404:
          description: "Not Found"
          examples:
            application/json:
              message: "Could not find records."
              code: "404"
              errors:
              - domain: "global"
                reason: "backendError"
                message: "Error message"
          headers: {}
          schema:
            type: "object"
            required:
            - "code"
            - "message"
            properties:
              message:
                type: "string"
                description: "The meessage of Error."
              code:
                type: "string"
                description: "The error code."
              errors:
                type: "array"
                description: "Array of errors."
                items: {}
        503:
          description: "Service Unavailable"
          examples:
            application/json:
              message: "There are no data in the service layer."
              code: "503"
              errors:
              - domain: "global"
                reason: "backendError"
                message: "Error message"
          headers: {}
          schema:
            type: "object"
            required:
            - "code"
            - "message"
            properties:
              message:
                type: "string"
                description: "The meessage of Error."
              code:
                type: "string"
                description: "The error code."
              errors:
                type: "array"
                description: "Array of errors."
                items: {}
      x-swagger-router-controller: "Administration"
  /depots/{code}:
    get:
      tags:
      - "Administration"
      summary: "Request single Depo by \"code\" identifier."
      description: ""
      operationId: "depotsCodeGET"
      produces:
      - "application/json"
      parameters:
      - name: "code"
        in: "path"
        description: "The code of the desired depot."
        required: true
        type: "string"
        x-example: "2583743adsf0"
      responses:
        200:
          description: "OK"
          examples:
            application/json:
              code: "SE0001"
              name: "Akalla"
              description: "I de gamla tryckertilokalerna på Vandagatan hittar ni\
                \ oss på Depå Akalla."
              phones:
              - number: "08-477 11 50"
                type: "fixed"
              email: "akalla@hllab.se"
              openingHours:
              - name: "Regular"
                openingHours: "09:00-18:00"
              address:
                streetAddress: "Vandagatan 3"
                postalCode: "164 74"
                city: "Akalla"
                country: "SE"
                region: "Stockholm"
                location:
                  latitude: "57.56236"
                  longitude: "18.34526"
              departments:
              - name: "UTHYRNING"
                employees:
                - location: "Manager"
                  firstName: "Niklas"
                  lastName: "Ekwal"
                  phones:
                  - number: "08-477 11 50"
                    type: "fixed"
                  email: "niklas.ekwall@hllab.se"
                  photo: "http://url./niklas.ekwall.png"
          headers: {}
          schema:
            type: "object"
            required:
            - "address"
            - "code"
            - "description"
            - "email"
            - "name"
            - "phones"
            properties:
              code:
                type: "string"
                description: "The Depot identifier"
              name:
                type: "string"
                description: "The name of Depot"
              description:
                type: "string"
                description: "The description of Depot."
              phones:
                type: "array"
                items: {}
              email:
                type: "string"
                description: "The contact mail of Depot."
              openingHours:
                type: "array"
                items: {}
              address:
                $ref: "#/definitions/inline_response_200_1_address"
              departments:
                type: "array"
                description: "The departments in Depot."
                items: {}
        404:
          description: "Not Found"
          examples:
            application/json:
              message: "Could not find record."
              code: "404"
              errors:
              - domain: "global"
                reason: "backendError"
                message: "Error message"
          headers: {}
          schema:
            type: "object"
            required:
            - "code"
            - "message"
            properties:
              message:
                type: "string"
                description: "The meessage of Error."
              code:
                type: "string"
                description: "The error code."
              errors:
                type: "array"
                description: "Array of errors."
                items: {}
        503:
          description: "Service Unavailable"
          examples:
            application/json:
              message: "There are no data in the service layer."
              code: "503"
              errors:
              - domain: "global"
                reason: "backendError"
                message: "Error message"
          headers: {}
          schema:
            type: "object"
            required:
            - "code"
            - "message"
            properties:
              message:
                type: "string"
                description: "The meessage of Error."
              code:
                type: "string"
                description: "The error code."
              errors:
                type: "array"
                description: "Array of errors."
                items: {}
      x-swagger-router-controller: "Administration"
  /catalogue/groups/{code}:
    get:
      tags:
      - "Administration"
      summary: "Load Group"
      description: ""
      operationId: "catalogueGroupsCodeGET"
      produces:
      - "application/json"
      parameters:
      - name: "code"
        in: "path"
        description: "The group code"
        required: true
        type: "string"
        x-example: "20"
      responses:
        200:
          description: "OK"
          examples:
            application/json:
              items:
              - code: "1"
                name: "Heavy machinery"
          headers: {}
          schema:
            type: "object"
            required:
            - "items"
            properties:
              items:
                type: "array"
                description: "List of items"
                items: {}
      x-swagger-router-controller: "Administration"
  /catalogue/products:
    get:
      tags:
      - "Administration"
      summary: "List catalogue assemblies for category"
      description: ""
      operationId: "catalogueProductsGET"
      produces:
      - "application/json"
      parameters:
      - name: "category"
        in: "query"
        description: "The category code"
        required: true
        type: "string"
        x-example: "20"
      responses:
        200:
          description: "OK"
          examples:
            application/json:
              items:
              - equipment:
                  article:
                    number: "1234567890"
                    name: "The Dumper"
                    description: "Lorem imposum"
                    sraCode: "211313"
                  offer:
                    name: "\"Hyra\""
                    amount: "123.45"
                    price: "12345 kr / alldager"
                    unit: "st"
                  services:
                    article:
                      number: "1234567890"
                      name: "The Dumper"
                      description: "Lorem imposum"
                      sraCode: "211313"
                    offer:
                      name: "\"Hyra\""
                      amount: "123.45"
                      price: "12345 kr / alldager"
                      unit: "st"
                accessories:
                - article:
                    number: "1234567890"
                    name: "The Dumper"
                    description: "Lorem imposum"
                    sraCode: "211313"
                  offer:
                    name: "\"Hyra\""
                    amount: "123.45"
                    price: "12345 kr / alldager"
                    unit: "st"
                    preSelected: true
                  services:
                    article:
                      number: "1234567890"
                      name: "The Dumper"
                      description: "Lorem imposum"
                      sraCode: "211313"
                    offer:
                      name: "\"Hyra\""
                      amount: "123.45"
                      price: "12345 kr / alldager"
                      unit: "st"
          headers: {}
          schema:
            type: "object"
            required:
            - "items"
            properties:
              items:
                type: "array"
                description: "List of items"
                items: {}
      x-swagger-router-controller: "Administration"
  /catalogue/products/{number}:
    get:
      tags:
      - "Administration"
      summary: "Get catalogue assembly"
      description: "Allow user to browse products data"
      operationId: "catalogueProductsNumberGET"
      produces:
      - "application/json"
      parameters:
      - name: "number"
        in: "path"
        required: true
        type: "integer"
      responses:
        200:
          description: "OK"
          examples:
            application/json:
              equipment:
                article:
                  number: "1234567890"
                  name: "The Dumper"
                  description: "Lorem imposum"
                  sraCode: "211313"
                offer:
                  name: "\"Hyra\""
                  amount: "123.45"
                  price: "12345 kr / alldager"
                  unit: "st"
                services:
                  article:
                    number: "1234567890"
                    name: "The Dumper"
                    description: "Lorem imposum"
                    sraCode: "211313"
                  offer:
                    name: "\"Hyra\""
                    amount: "123.45"
                    price: "12345 kr / alldager"
                    unit: "st"
              accessories:
              - article:
                  number: "1234567890"
                  name: "The Dumper"
                  description: "Lorem imposum"
                  sraCode: "211313"
                offer:
                  name: "\"Hyra\""
                  amount: "123.45"
                  price: "12345 kr / alldager"
                  unit: "st"
                  preSelected: true
                services:
                  article:
                    number: "1234567890"
                    name: "The Dumper"
                    description: "Lorem imposum"
                    sraCode: "211313"
                  offer:
                    name: "\"Hyra\""
                    amount: "123.45"
                    price: "12345 kr / alldager"
                    unit: "st"
          headers: {}
          schema:
            type: "object"
            required:
            - "accessories"
            - "equipment"
            properties:
              equipment:
                $ref: "#/definitions/inline_response_200_3_equipment"
              accessories:
                type: "array"
                description: "Accessories related to equipment."
                items: {}
      x-swagger-router-controller: "Administration"
  /identity:
    get:
      tags:
      - "Identification"
      summary: "Create device token"
      description: ""
      operationId: "identityGET"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "OK"
          examples:
            application/json:
              token: "94b81440-5b36-4aa8-ac70-ea562be8332a"
          headers: {}
          schema:
            type: "object"
            required:
            - "token"
            properties:
              token:
                type: "string"
                description: "The unique device identification token"
      x-swagger-router-controller: "Identification"
    post:
      tags:
      - "Identification"
      summary: "Register device token"
      description: ""
      operationId: "identityPOST"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "token"
        required: true
        schema:
          type: "string"
      responses:
        200:
          description: "OK"
          examples:
            application/json:
              token: "94b81440-5b36-4aa8-ac70-ea562be8332a"
          headers: {}
          schema:
            type: "object"
            required:
            - "token"
            properties:
              token:
                type: "string"
                description: "The unique device identification token"
        404:
          description: "Not Found"
          examples:
            application/json:
              message: ""
              code: "404"
              errors:
              - domain: "global"
                reason: "backendError"
                message: "Error message"
          headers: {}
          schema:
            type: "object"
            required:
            - "code"
            - "message"
            properties:
              message:
                type: "string"
                description: "The meessage of Error."
              code:
                type: "string"
                description: "The error code."
              errors:
                type: "array"
                description: "Array of errors."
                items: {}
        409:
          description: "Conflict"
          examples:
            application/json:
              message: "Token already exist."
              code: "409"
              errors:
              - domain: "global"
                reason: "backendError"
                message: "Error message"
          headers: {}
          schema:
            type: "object"
            required:
            - "code"
            - "message"
            properties:
              message:
                type: "string"
                description: "The meessage of Error."
              code:
                type: "string"
                description: "The error code."
              errors:
                type: "array"
                description: "Array of errors."
                items: {}
      x-swagger-router-controller: "Identification"
    delete:
      tags:
      - "Identification"
      summary: "Delete device token"
      description: ""
      operationId: "identityDELETE"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "token"
        required: true
        schema:
          type: "string"
      responses:
        200:
          description: "OK"
          examples:
            application/json:
              token: "94b81440-5b36-4aa8-ac70-ea562be8332a"
          headers: {}
          schema:
            type: "object"
            required:
            - "token"
            properties:
              token:
                type: "string"
                description: "The unique device identification token"
        404:
          description: "Not Found"
          examples:
            application/json:
              message: ""
              code: "404"
              errors:
              - domain: "global"
                reason: "backendError"
                message: "Error message"
          headers: {}
          schema:
            type: "object"
            required:
            - "code"
            - "message"
            properties:
              message:
                type: "string"
                description: "The meessage of Error."
              code:
                type: "string"
                description: "The error code."
              errors:
                type: "array"
                description: "Array of errors."
                items: {}
      x-swagger-router-controller: "Identification"
  /templates:
    get:
      tags:
      - "Identification"
      summary: "List templates"
      description: ""
      operationId: "templatesGET"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "OK"
          examples:
            application/json:
              items:
              - id: "AS3423"
                name: "Renovera badrum"
                imageUrl: "https://syd.hyreslandslaget.se/static/files/1001/top_hll_miljo_006.jpg"
              - id: "AS3423"
                name: "Renovera badrum"
                imageUrl: "https://syd.hyreslandslaget.se/static/files/1001/top_hll_miljo_006.jpg"
              - id: "AS3423"
                name: "Renovera badrum"
                imageUrl: "https://syd.hyreslandslaget.se/static/files/1001/top_hll_miljo_006.jpg"
              - id: "AS3423"
                name: "Renovera badrum"
                imageUrl: "https://syd.hyreslandslaget.se/static/files/1001/top_hll_miljo_006.jpg"
              - id: "AS3423"
                name: "Renovera badrum"
                imageUrl: "https://syd.hyreslandslaget.se/static/files/1001/top_hll_miljo_006.jpg"
              - id: "AS3423"
                name: "Renovera badrum"
                imageUrl: "https://syd.hyreslandslaget.se/static/files/1001/top_hll_miljo_006.jpg"
              - id: "AS3423"
                name: "Renovera badrum"
                imageUrl: "https://syd.hyreslandslaget.se/static/files/1001/top_hll_miljo_006.jpg"
              - id: "AS3423"
                name: "Renovera badrum"
                imageUrl: "https://syd.hyreslandslaget.se/static/files/1001/top_hll_miljo_006.jpg"
              - id: "AS3423"
                name: "Renovera badrum"
                imageUrl: "https://syd.hyreslandslaget.se/static/files/1001/top_hll_miljo_006.jpg"
          headers: {}
          schema:
            type: "object"
            properties:
              items:
                type: "array"
                items: {}
        403:
          description: "Forbidden"
          examples:
            application/json:
              message: "Resource not allowed"
              code: 403
              errors:
              - domain: "global"
                reason: "backendError"
                message: "Error message"
          headers: {}
          schema:
            type: "object"
            required:
            - "code"
            - "message"
            properties:
              message:
                type: "string"
                description: "The meessage of Error."
              code:
                type: "number"
                description: "The error code."
              errors:
                type: "array"
                description: "Array of errors."
                items: {}
        404:
          description: "Not Found"
          examples:
            application/json:
              message: "Resource not found"
              code: 404
              errors:
              - domain: "global"
                reason: "backendError"
                message: "Error message"
          headers: {}
          schema:
            type: "object"
            required:
            - "code"
            - "message"
            properties:
              message:
                type: "string"
                description: "The meessage of Error."
              code:
                type: "number"
                description: "The error code."
              errors:
                type: "array"
                description: "Array of errors."
                items: {}
      x-swagger-router-controller: "Identification"
  /estimates/:
    get:
      tags:
      - "Estimate"
      summary: "List estimates"
      description: ""
      operationId: "estimatesGET"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "OK"
          examples:
            application/json:
              items:
              - id: "AS3423"
                name: "Name"
                color: "#ff0055"
                price: "800 kr"
                modified: "2017-01-12T15:46:58Z"
                period:
                  start: "2017-01-12T15:46:58Z"
                  finish: "2017-01-12T15:46:58Z"
                assemblies:
                - id: 123
                  equipment:
                    article:
                      number: "1234567890"
                      name: "The Dumper"
                      description: "Lorem imposum"
                      sraCode: "211313"
                    offer:
                      name: "\"Hyra\""
                      amount: "123.45"
                      price: "12345 kr / alldager"
                      unit: "st"
                    services:
                      article:
                        number: "1234567890"
                        name: "The Dumper"
                        description: "Lorem imposum"
                        sraCode: "211313"
                      offer:
                        name: "\"Hyra\""
                        amount: "123.45"
                        price: "12345 kr / alldager"
                        unit: "st"
                    order:
                      amount: 1234.55999999999994543031789362430572509765625
                      discount: 123
                      price: "1234567.89 kr"
                  accessories:
                  - article:
                      number: "1234567890"
                      name: "The Dumper"
                      description: "Lorem imposum"
                      sraCode: "211313"
                    offer:
                      name: "\"Hyra\""
                      amount: "123.45"
                      price: "12345 kr / alldager"
                      unit: "st"
                      preSelected: true
                    services:
                      article:
                        number: "1234567890"
                        name: "The Dumper"
                        description: "Lorem imposum"
                        sraCode: "211313"
                      offer:
                        name: "\"Hyra\""
                        amount: "123.45"
                        price: "12345 kr / alldager"
                        unit: "st"
                    order:
                      amount: 1234.55999999999994543031789362430572509765625
                      discount: 123
                      price: "1234567.89 kr"
                discounts:
                  classes:
                  - code: "23"
                    name: "Some name"
                    value: 10
                  categories:
                  - code: "23"
                    name: "Some name"
                    value: 10
                insurance:
                  price: "150 kr"
                delivery:
                  destination:
                    latitude: "57.56236"
                    longitude: "18.34526"
                  fare:
                    price: "150 kr"
                  status: "ESTIMATED"
                  message: "A description of the status"
          headers: {}
          schema:
            type: "object"
            properties:
              items:
                type: "array"
                items: {}
        403:
          description: "Forbidden"
          examples:
            application/json:
              message: "Resource not allowed"
              code: 403
              errors:
              - domain: "global"
                reason: "backendError"
                message: "Error message"
          headers: {}
          schema:
            type: "object"
            required:
            - "code"
            - "message"
            properties:
              message:
                type: "string"
                description: "The meessage of Error."
              code:
                type: "number"
                description: "The error code."
              errors:
                type: "array"
                description: "Array of errors."
                items: {}
        404:
          description: "Not Found"
          examples:
            application/json:
              message: "Resource not found"
              code: 404
              errors:
              - domain: "global"
                reason: "backendError"
                message: "Error message"
          headers: {}
          schema:
            type: "object"
            required:
            - "code"
            - "message"
            properties:
              message:
                type: "string"
                description: "The meessage of Error."
              code:
                type: "number"
                description: "The error code."
              errors:
                type: "array"
                description: "Array of errors."
                items: {}
      x-swagger-router-controller: "Estimate"
    post:
      tags:
      - "Estimate"
      summary: "Create estimate"
      description: ""
      operationId: "estimatesPOST"
      produces:
      - "application/json"
      parameters:
      - name: "template"
        in: "query"
        description: "The ID of the template to base the new estimate on"
        required: false
        type: "string"
        x-example: "AS3423"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/body"
      responses:
        200:
          description: "OK"
          examples:
            application/json:
              id: "AS3423"
              name: "Name"
              color: "#ff0055"
              price: "800 kr"
              modified: "2017-01-12T15:46:58Z"
              period:
                start: "2017-01-12T15:46:58Z"
                finish: "2017-01-12T15:46:58Z"
              assemblies:
              - id: 123
                equipment:
                  article:
                    number: "1234567890"
                    name: "The Dumper"
                    description: "Lorem imposum"
                    sraCode: "211313"
                  offer:
                    name: "\"Hyra\""
                    amount: "123.45"
                    price: "12345 kr / alldager"
                    unit: "st"
                  services:
                    article:
                      number: "1234567890"
                      name: "The Dumper"
                      description: "Lorem imposum"
                      sraCode: "211313"
                    offer:
                      name: "\"Hyra\""
                      amount: "123.45"
                      price: "12345 kr / alldager"
                      unit: "st"
                  order:
                    amount: 1234.55999999999994543031789362430572509765625
                    discount: 123
                    price: "1234567.89 kr"
                accessories:
                - article:
                    number: "1234567890"
                    name: "The Dumper"
                    description: "Lorem imposum"
                    sraCode: "211313"
                  offer:
                    name: "\"Hyra\""
                    amount: "123.45"
                    price: "12345 kr / alldager"
                    unit: "st"
                    preSelected: true
                  services:
                    article:
                      number: "1234567890"
                      name: "The Dumper"
                      description: "Lorem imposum"
                      sraCode: "211313"
                    offer:
                      name: "\"Hyra\""
                      amount: "123.45"
                      price: "12345 kr / alldager"
                      unit: "st"
                  order:
                    amount: 1234.55999999999994543031789362430572509765625
                    discount: 123
                    price: "1234567.89 kr"
              discounts:
                classes:
                - code: "23"
                  name: "Some name"
                  value: 10
                categories:
                - code: "23"
                  name: "Some name"
                  value: 10
              insurance:
                price: "150 kr"
              delivery:
                destination:
                  latitude: "57.56236"
                  longitude: "18.34526"
                fare:
                  price: "150 kr"
                status: "ESTIMATED"
                message: "A description of the status"
          headers: {}
          schema:
            type: "object"
            properties:
              id:
                type: "string"
                description: "The unique identifier"
              name:
                type: "string"
                description: "The name of estimate"
              color:
                type: "string"
                description: "The color of the estimate"
              price:
                type: "string"
                description: "The total productPrice"
              modified:
                type: "string"
                description: "ISO 8601 The last modified date"
              period:
                $ref: "#/definitions/estimates_period"
              assemblies:
                type: "array"
                description: "The rental items"
                items: {}
              discounts:
                $ref: "#/definitions/inline_response_200_6_discounts"
              insurance:
                $ref: "#/definitions/estimates_insurance"
              delivery:
                $ref: "#/definitions/estimates_delivery"
        403:
          description: "Forbidden"
          examples:
            application/json:
              message: "Resource not allowed"
              code: 403
              errors:
              - domain: "global"
                reason: "backendError"
                message: "Error message"
          headers: {}
          schema:
            type: "object"
            required:
            - "code"
            - "message"
            properties:
              message:
                type: "string"
                description: "The meessage of Error."
              code:
                type: "number"
                description: "The error code."
              errors:
                type: "array"
                description: "Array of errors."
                items: {}
        404:
          description: "Not Found"
          examples:
            application/json:
              message: "Resource not found"
              code: 404
              errors:
              - domain: "global"
                reason: "backendError"
                message: "Error message"
          headers: {}
          schema:
            type: "object"
            required:
            - "code"
            - "message"
            properties:
              message:
                type: "string"
                description: "The meessage of Error."
              code:
                type: "number"
                description: "The error code."
              errors:
                type: "array"
                description: "Array of errors."
                items: {}
      x-swagger-router-controller: "Estimate"
  /estimates/{id}:
    get:
      tags:
      - "Estimate"
      summary: "Get estimate"
      description: ""
      operationId: "estimatesIdGET"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "OK"
          examples:
            application/json:
              id: "AS3423"
              name: "Name"
              color: "#ff0055"
              price: "800 kr"
              modified: "2017-01-12T15:46:58Z"
              period:
                start: "2017-01-12T15:46:58Z"
                finish: "2017-01-12T15:46:58Z"
              assemblies:
              - id: 123
                equipment:
                  article:
                    number: "1234567890"
                    name: "The Dumper"
                    description: "Lorem imposum"
                    sraCode: "211313"
                  offer:
                    name: "\"Hyra\""
                    amount: "123.45"
                    price: "12345 kr / alldager"
                    unit: "st"
                  services:
                    article:
                      number: "1234567890"
                      name: "The Dumper"
                      description: "Lorem imposum"
                      sraCode: "211313"
                    offer:
                      name: "\"Hyra\""
                      amount: "123.45"
                      price: "12345 kr / alldager"
                      unit: "st"
                  order:
                    amount: 1234.55999999999994543031789362430572509765625
                    discount: 123
                    price: "1234567.89 kr"
                accessories:
                - article:
                    number: "1234567890"
                    name: "The Dumper"
                    description: "Lorem imposum"
                    sraCode: "211313"
                  offer:
                    name: "\"Hyra\""
                    amount: "123.45"
                    price: "12345 kr / alldager"
                    unit: "st"
                    preSelected: true
                  services:
                    article:
                      number: "1234567890"
                      name: "The Dumper"
                      description: "Lorem imposum"
                      sraCode: "211313"
                    offer:
                      name: "\"Hyra\""
                      amount: "123.45"
                      price: "12345 kr / alldager"
                      unit: "st"
                  order:
                    amount: 1234.55999999999994543031789362430572509765625
                    discount: 123
                    price: "1234567.89 kr"
              discounts:
                classes:
                - code: "23"
                  name: "Some name"
                  value: 10
                categories:
                - code: "23"
                  name: "Some name"
                  value: 10
              insurance:
                price: "150 kr"
              delivery:
                destination:
                  latitude: "57.56236"
                  longitude: "18.34526"
                fare:
                  price: "150 kr"
                status: "ESTIMATED"
                message: "A description of the status"
          headers: {}
          schema:
            type: "object"
            properties:
              id:
                type: "string"
                description: "The unique identifier"
              name:
                type: "string"
                description: "The name of estimate"
              color:
                type: "string"
                description: "The color of the estimate"
              price:
                type: "string"
                description: "The total productPrice"
              modified:
                type: "string"
                description: "ISO 8601 The last modified date"
              period:
                $ref: "#/definitions/estimates_period"
              assemblies:
                type: "array"
                description: "The rental items"
                items: {}
              discounts:
                $ref: "#/definitions/inline_response_200_6_discounts"
              insurance:
                $ref: "#/definitions/estimates_insurance"
              delivery:
                $ref: "#/definitions/estimates_delivery"
        403:
          description: "Forbidden"
          examples:
            application/json:
              message: "Resource not allowed"
              code: 403
              errors:
              - domain: "global"
                reason: "backendError"
                message: "Error message"
          headers: {}
          schema:
            type: "object"
            required:
            - "code"
            - "message"
            properties:
              message:
                type: "string"
                description: "The meessage of Error."
              code:
                type: "number"
                description: "The error code."
              errors:
                type: "array"
                description: "Array of errors."
                items: {}
        404:
          description: "Not Found"
          examples:
            application/json:
              message: "Resource not found"
              code: 404
              errors:
              - domain: "global"
                reason: "backendError"
                message: "Error message"
          headers: {}
          schema:
            type: "object"
            required:
            - "code"
            - "message"
            properties:
              message:
                type: "string"
                description: "The meessage of Error."
              code:
                type: "number"
                description: "The error code."
              errors:
                type: "array"
                description: "Array of errors."
                items: {}
      x-swagger-router-controller: "Estimate"
    delete:
      tags:
      - "Estimate"
      summary: "Delete estimate"
      description: ""
      operationId: "estimatesIdDELETE"
      produces:
      - "application/json"
      parameters: []
      responses:
        204:
          description: "No Content"
          examples: {}
          headers: {}
        403:
          description: "Forbidden"
          examples:
            application/json:
              message: "Resource not allowed"
              code: 403
              errors:
              - domain: "global"
                reason: "backendError"
                message: "Error message"
          headers: {}
          schema:
            type: "object"
            required:
            - "code"
            - "message"
            properties:
              message:
                type: "string"
                description: "The meessage of Error."
              code:
                type: "number"
                description: "The error code."
              errors:
                type: "array"
                description: "Array of errors."
                items: {}
        404:
          description: "Not Found"
          examples:
            application/json:
              message: "Resource not found"
              code: 404
              errors:
              - domain: "global"
                reason: "backendError"
                message: "Error message"
          headers: {}
          schema:
            type: "object"
            required:
            - "code"
            - "message"
            properties:
              message:
                type: "string"
                description: "The meessage of Error."
              code:
                type: "number"
                description: "The error code."
              errors:
                type: "array"
                description: "Array of errors."
                items: {}
      x-swagger-router-controller: "Estimate"
  /estimates/{id}?type=pdf:
    get:
      tags:
      - "Estimate"
      summary: "Get estimate as PDF"
      description: ""
      operationId: "estimatesIdtypepdfGET"
      produces:
      - "application/pdf"
      - "application/json"
      parameters: []
      responses:
        200:
          description: "OK"
          examples:
            application/pdf: ""
          headers: {}
        403:
          description: "Forbidden"
          examples:
            application/json:
              message: "Resource not allowed"
              code: 403
              errors:
              - domain: "global"
                reason: "backendError"
                message: "Error message"
          headers: {}
          schema:
            type: "object"
            required:
            - "code"
            - "message"
            properties:
              message:
                type: "string"
                description: "The meessage of Error."
              code:
                type: "number"
                description: "The error code."
              errors:
                type: "array"
                description: "Array of errors."
                items: {}
        404:
          description: "Not Found"
          examples:
            application/json:
              message: "Resource not found"
              code: 404
              errors:
              - domain: "global"
                reason: "backendError"
                message: "Error message"
          headers: {}
          schema:
            type: "object"
            required:
            - "code"
            - "message"
            properties:
              message:
                type: "string"
                description: "The meessage of Error."
              code:
                type: "number"
                description: "The error code."
              errors:
                type: "array"
                description: "Array of errors."
                items: {}
      x-swagger-router-controller: "Estimate"
  /estimates/{id}/characteristics:
    put:
      tags:
      - "Estimate"
      summary: "Update estimate characteristics"
      description: ""
      operationId: "estimatesIdCharacteristicsPUT"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/Estimate Characteristic"
      responses:
        200:
          description: "OK"
          examples:
            application/json:
              id: "AS3423"
              name: "Name"
              color: "#ff0055"
              price: "800 kr"
              modified: "2017-01-12T15:46:58Z"
          headers: {}
          schema:
            type: "object"
            properties:
              id:
                type: "string"
                description: "The unique identifier"
              name:
                type: "string"
                description: "The name of estimate"
              color:
                type: "string"
                description: "The color of the estimate"
              price:
                type: "string"
                description: "The total productPrice"
              modified:
                type: "string"
                description: "ISO 8601 The last modified date"
        403:
          description: "Forbidden"
          examples:
            application/json:
              message: "Resource not allowed"
              code: 403
              errors:
              - domain: "global"
                reason: "backendError"
                message: "Error message"
          headers: {}
          schema:
            type: "object"
            required:
            - "code"
            - "message"
            properties:
              message:
                type: "string"
                description: "The meessage of Error."
              code:
                type: "number"
                description: "The error code."
              errors:
                type: "array"
                description: "Array of errors."
                items: {}
        404:
          description: "Not Found"
          examples:
            application/json:
              message: "Resource not found"
              code: 404
              errors:
              - domain: "global"
                reason: "backendError"
                message: "Error message"
          headers: {}
          schema:
            type: "object"
            required:
            - "code"
            - "message"
            properties:
              message:
                type: "string"
                description: "The meessage of Error."
              code:
                type: "number"
                description: "The error code."
              errors:
                type: "array"
                description: "Array of errors."
                items: {}
      x-swagger-router-controller: "Estimate"
  /estimates/{estimateId}/period:
    put:
      tags:
      - "Estimate"
      summary: "Update estimate period"
      description: ""
      operationId: "estimatesEstimateIdPeriodPUT"
      produces:
      - "application/json"
      parameters:
      - name: "estimateId"
        in: "path"
        description: "The id of estimate."
        required: true
        type: "string"
        x-example: "987134-o87sdf"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/Period Base"
      responses:
        200:
          description: "OK"
          examples:
            application/json:
              id: "AS3423"
              name: "Name"
              color: "#ff0055"
              price: "800 kr"
              modified: "2017-01-12T15:46:58Z"
              period:
                start: "2017-01-12T15:46:58Z"
                finish: "2017-01-12T15:46:58Z"
              assemblies:
              - id: 123
                equipment:
                  article:
                    number: "1234567890"
                    name: "The Dumper"
                    description: "Lorem imposum"
                    sraCode: "211313"
                  offer:
                    name: "\"Hyra\""
                    amount: "123.45"
                    price: "12345 kr / alldager"
                    unit: "st"
                  services:
                    article:
                      number: "1234567890"
                      name: "The Dumper"
                      description: "Lorem imposum"
                      sraCode: "211313"
                    offer:
                      name: "\"Hyra\""
                      amount: "123.45"
                      price: "12345 kr / alldager"
                      unit: "st"
                  order:
                    amount: 1234.55999999999994543031789362430572509765625
                    discount: 123
                    price: "1234567.89 kr"
                accessories:
                - article:
                    number: "1234567890"
                    name: "The Dumper"
                    description: "Lorem imposum"
                    sraCode: "211313"
                  offer:
                    name: "\"Hyra\""
                    amount: "123.45"
                    price: "12345 kr / alldager"
                    unit: "st"
                    preSelected: true
                  services:
                    article:
                      number: "1234567890"
                      name: "The Dumper"
                      description: "Lorem imposum"
                      sraCode: "211313"
                    offer:
                      name: "\"Hyra\""
                      amount: "123.45"
                      price: "12345 kr / alldager"
                      unit: "st"
                  order:
                    amount: 1234.55999999999994543031789362430572509765625
                    discount: 123
                    price: "1234567.89 kr"
              discounts:
                classes:
                - code: "23"
                  name: "Some name"
                  value: 10
                categories:
                - code: "23"
                  name: "Some name"
                  value: 10
              insurance:
                price: "150 kr"
              delivery:
                destination:
                  latitude: "57.56236"
                  longitude: "18.34526"
                fare:
                  price: "150 kr"
                status: "ESTIMATED"
                message: "A description of the status"
          headers: {}
          schema:
            type: "object"
            properties:
              id:
                type: "string"
                description: "The unique identifier"
              name:
                type: "string"
                description: "The name of estimate"
              color:
                type: "string"
                description: "The color of the estimate"
              price:
                type: "string"
                description: "The total productPrice"
              modified:
                type: "string"
                description: "ISO 8601 The last modified date"
              period:
                $ref: "#/definitions/estimates_period"
              assemblies:
                type: "array"
                description: "The rental items"
                items: {}
              discounts:
                $ref: "#/definitions/inline_response_200_6_discounts"
              insurance:
                $ref: "#/definitions/estimates_insurance"
              delivery:
                $ref: "#/definitions/estimates_delivery"
        403:
          description: "Forbidden"
          examples:
            application/json:
              message: "Resource not allowed"
              code: 403
              errors:
              - domain: "global"
                reason: "backendError"
                message: "Error message"
          headers: {}
          schema:
            type: "object"
            required:
            - "code"
            - "message"
            properties:
              message:
                type: "string"
                description: "The meessage of Error."
              code:
                type: "number"
                description: "The error code."
              errors:
                type: "array"
                description: "Array of errors."
                items: {}
        404:
          description: "Not Found"
          examples:
            application/json:
              message: "Resource not found"
              code: 404
              errors:
              - domain: "global"
                reason: "backendError"
                message: "Error message"
          headers: {}
          schema:
            type: "object"
            required:
            - "code"
            - "message"
            properties:
              message:
                type: "string"
                description: "The meessage of Error."
              code:
                type: "number"
                description: "The error code."
              errors:
                type: "array"
                description: "Array of errors."
                items: {}
      x-swagger-router-controller: "Estimate"
  /estimates/{id}/discounts:
    post:
      tags:
      - "Estimate"
      summary: "Set discounts"
      description: "Write the passed object as is into estimate. And update the price."
      operationId: "estimatesIdDiscountsPOST"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The id of estimate."
        required: true
        type: "string"
        x-example: "987134-o87sdf"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/Discounts Base"
      responses:
        200:
          description: "OK"
          examples:
            application/json:
              id: "AS3423"
              name: "Name"
              color: "#ff0055"
              price: "800 kr"
              modified: "2017-01-12T15:46:58Z"
              period:
                start: "2017-01-12T15:46:58Z"
                finish: "2017-01-12T15:46:58Z"
              assemblies:
              - id: 123
                equipment:
                  article:
                    number: "1234567890"
                    name: "The Dumper"
                    description: "Lorem imposum"
                    sraCode: "211313"
                  offer:
                    name: "\"Hyra\""
                    amount: "123.45"
                    price: "12345 kr / alldager"
                    unit: "st"
                  services:
                    article:
                      number: "1234567890"
                      name: "The Dumper"
                      description: "Lorem imposum"
                      sraCode: "211313"
                    offer:
                      name: "\"Hyra\""
                      amount: "123.45"
                      price: "12345 kr / alldager"
                      unit: "st"
                  order:
                    amount: 1234.55999999999994543031789362430572509765625
                    discount: 123
                    price: "1234567.89 kr"
                accessories:
                - article:
                    number: "1234567890"
                    name: "The Dumper"
                    description: "Lorem imposum"
                    sraCode: "211313"
                  offer:
                    name: "\"Hyra\""
                    amount: "123.45"
                    price: "12345 kr / alldager"
                    unit: "st"
                    preSelected: true
                  services:
                    article:
                      number: "1234567890"
                      name: "The Dumper"
                      description: "Lorem imposum"
                      sraCode: "211313"
                    offer:
                      name: "\"Hyra\""
                      amount: "123.45"
                      price: "12345 kr / alldager"
                      unit: "st"
                  order:
                    amount: 1234.55999999999994543031789362430572509765625
                    discount: 123
                    price: "1234567.89 kr"
              discounts:
                classes:
                - code: "23"
                  name: "Some name"
                  value: 10
                categories:
                - code: "23"
                  name: "Some name"
                  value: 10
              insurance:
                price: "150 kr"
              delivery:
                destination:
                  latitude: "57.56236"
                  longitude: "18.34526"
                fare:
                  price: "150 kr"
                status: "ESTIMATED"
                message: "A description of the status"
          headers: {}
          schema:
            type: "object"
            properties:
              id:
                type: "string"
                description: "The unique identifier"
              name:
                type: "string"
                description: "The name of estimate"
              color:
                type: "string"
                description: "The color of the estimate"
              price:
                type: "string"
                description: "The total productPrice"
              modified:
                type: "string"
                description: "ISO 8601 The last modified date"
              period:
                $ref: "#/definitions/estimates_period"
              assemblies:
                type: "array"
                description: "The rental items"
                items: {}
              discounts:
                $ref: "#/definitions/inline_response_200_6_discounts"
              insurance:
                $ref: "#/definitions/estimates_insurance"
              delivery:
                $ref: "#/definitions/estimates_delivery"
        403:
          description: "Forbidden"
          examples:
            application/json:
              message: "Resource not allowed"
              code: 403
              errors:
              - domain: "global"
                reason: "backendError"
                message: "Error message"
          headers: {}
          schema:
            type: "object"
            required:
            - "code"
            - "message"
            properties:
              message:
                type: "string"
                description: "The meessage of Error."
              code:
                type: "number"
                description: "The error code."
              errors:
                type: "array"
                description: "Array of errors."
                items: {}
        404:
          description: "Not Found"
          examples:
            application/json:
              message: "Resource not found"
              code: 404
              errors:
              - domain: "global"
                reason: "backendError"
                message: "Error message"
          headers: {}
          schema:
            type: "object"
            required:
            - "code"
            - "message"
            properties:
              message:
                type: "string"
                description: "The meessage of Error."
              code:
                type: "number"
                description: "The error code."
              errors:
                type: "array"
                description: "Array of errors."
                items: {}
      x-swagger-router-controller: "Estimate"
  /estimates/{id}/insurance:
    post:
      tags:
      - "Estimate"
      summary: "Enable insurance"
      description: "Enable insurance and recalculate the estimate."
      operationId: "estimatesIdInsurancePOST"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The id of estimate."
        required: true
        type: "string"
        x-example: "987134-o87sdf"
      responses:
        200:
          description: "OK"
          examples:
            application/json:
              id: "AS3423"
              name: "Name"
              color: "#ff0055"
              price: "800 kr"
              modified: "2017-01-12T15:46:58Z"
              period:
                start: "2017-01-12T15:46:58Z"
                finish: "2017-01-12T15:46:58Z"
              assemblies:
              - id: 123
                equipment:
                  article:
                    number: "1234567890"
                    name: "The Dumper"
                    description: "Lorem imposum"
                    sraCode: "211313"
                  offer:
                    name: "\"Hyra\""
                    amount: "123.45"
                    price: "12345 kr / alldager"
                    unit: "st"
                  services:
                    article:
                      number: "1234567890"
                      name: "The Dumper"
                      description: "Lorem imposum"
                      sraCode: "211313"
                    offer:
                      name: "\"Hyra\""
                      amount: "123.45"
                      price: "12345 kr / alldager"
                      unit: "st"
                  order:
                    amount: 1234.55999999999994543031789362430572509765625
                    discount: 123
                    price: "1234567.89 kr"
                accessories:
                - article:
                    number: "1234567890"
                    name: "The Dumper"
                    description: "Lorem imposum"
                    sraCode: "211313"
                  offer:
                    name: "\"Hyra\""
                    amount: "123.45"
                    price: "12345 kr / alldager"
                    unit: "st"
                    preSelected: true
                  services:
                    article:
                      number: "1234567890"
                      name: "The Dumper"
                      description: "Lorem imposum"
                      sraCode: "211313"
                    offer:
                      name: "\"Hyra\""
                      amount: "123.45"
                      price: "12345 kr / alldager"
                      unit: "st"
                  order:
                    amount: 1234.55999999999994543031789362430572509765625
                    discount: 123
                    price: "1234567.89 kr"
              discounts:
                classes:
                - code: "23"
                  name: "Some name"
                  value: 10
                categories:
                - code: "23"
                  name: "Some name"
                  value: 10
              insurance:
                price: "150 kr"
              delivery:
                destination:
                  latitude: "57.56236"
                  longitude: "18.34526"
                fare:
                  price: "150 kr"
                status: "ESTIMATED"
                message: "A description of the status"
          headers: {}
          schema:
            type: "object"
            properties:
              id:
                type: "string"
                description: "The unique identifier"
              name:
                type: "string"
                description: "The name of estimate"
              color:
                type: "string"
                description: "The color of the estimate"
              price:
                type: "string"
                description: "The total productPrice"
              modified:
                type: "string"
                description: "ISO 8601 The last modified date"
              period:
                $ref: "#/definitions/estimates_period"
              assemblies:
                type: "array"
                description: "The rental items"
                items: {}
              discounts:
                $ref: "#/definitions/inline_response_200_6_discounts"
              insurance:
                $ref: "#/definitions/estimates_insurance"
              delivery:
                $ref: "#/definitions/estimates_delivery"
        403:
          description: "Forbidden"
          examples:
            application/json:
              message: "Resource not allowed"
              code: 403
              errors:
              - domain: "global"
                reason: "backendError"
                message: "Error message"
          headers: {}
          schema:
            type: "object"
            required:
            - "code"
            - "message"
            properties:
              message:
                type: "string"
                description: "The meessage of Error."
              code:
                type: "number"
                description: "The error code."
              errors:
                type: "array"
                description: "Array of errors."
                items: {}
        404:
          description: "Not Found"
          examples:
            application/json:
              message: "Resource not found"
              code: 404
              errors:
              - domain: "global"
                reason: "backendError"
                message: "Error message"
          headers: {}
          schema:
            type: "object"
            required:
            - "code"
            - "message"
            properties:
              message:
                type: "string"
                description: "The meessage of Error."
              code:
                type: "number"
                description: "The error code."
              errors:
                type: "array"
                description: "Array of errors."
                items: {}
      x-swagger-router-controller: "Estimate"
    delete:
      tags:
      - "Estimate"
      summary: "Disable Insurance"
      description: "Disable insurance and recalculate the estimate."
      operationId: "estimatesIdInsuranceDELETE"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The id of estimate."
        required: true
        type: "string"
        x-example: "987134-o87sdf"
      responses:
        200:
          description: "OK"
          examples:
            application/json:
              id: "AS3423"
              name: "Name"
              color: "#ff0055"
              price: "800 kr"
              modified: "2017-01-12T15:46:58Z"
              period:
                start: "2017-01-12T15:46:58Z"
                finish: "2017-01-12T15:46:58Z"
              assemblies:
              - id: 123
                equipment:
                  article:
                    number: "1234567890"
                    name: "The Dumper"
                    description: "Lorem imposum"
                    sraCode: "211313"
                  offer:
                    name: "\"Hyra\""
                    amount: "123.45"
                    price: "12345 kr / alldager"
                    unit: "st"
                  services:
                    article:
                      number: "1234567890"
                      name: "The Dumper"
                      description: "Lorem imposum"
                      sraCode: "211313"
                    offer:
                      name: "\"Hyra\""
                      amount: "123.45"
                      price: "12345 kr / alldager"
                      unit: "st"
                  order:
                    amount: 1234.55999999999994543031789362430572509765625
                    discount: 123
                    price: "1234567.89 kr"
                accessories:
                - article:
                    number: "1234567890"
                    name: "The Dumper"
                    description: "Lorem imposum"
                    sraCode: "211313"
                  offer:
                    name: "\"Hyra\""
                    amount: "123.45"
                    price: "12345 kr / alldager"
                    unit: "st"
                    preSelected: true
                  services:
                    article:
                      number: "1234567890"
                      name: "The Dumper"
                      description: "Lorem imposum"
                      sraCode: "211313"
                    offer:
                      name: "\"Hyra\""
                      amount: "123.45"
                      price: "12345 kr / alldager"
                      unit: "st"
                  order:
                    amount: 1234.55999999999994543031789362430572509765625
                    discount: 123
                    price: "1234567.89 kr"
              discounts:
                classes:
                - code: "23"
                  name: "Some name"
                  value: 10
                categories:
                - code: "23"
                  name: "Some name"
                  value: 10
              insurance:
                price: "150 kr"
              delivery:
                destination:
                  latitude: "57.56236"
                  longitude: "18.34526"
                fare:
                  price: "150 kr"
                status: "ESTIMATED"
                message: "A description of the status"
          headers: {}
          schema:
            type: "object"
            properties:
              id:
                type: "string"
                description: "The unique identifier"
              name:
                type: "string"
                description: "The name of estimate"
              color:
                type: "string"
                description: "The color of the estimate"
              price:
                type: "string"
                description: "The total productPrice"
              modified:
                type: "string"
                description: "ISO 8601 The last modified date"
              period:
                $ref: "#/definitions/estimates_period"
              assemblies:
                type: "array"
                description: "The rental items"
                items: {}
              discounts:
                $ref: "#/definitions/inline_response_200_6_discounts"
              insurance:
                $ref: "#/definitions/estimates_insurance"
              delivery:
                $ref: "#/definitions/estimates_delivery"
        403:
          description: "Forbidden"
          examples:
            application/json:
              message: "Resource not allowed"
              code: 403
              errors:
              - domain: "global"
                reason: "backendError"
                message: "Error message"
          headers: {}
          schema:
            type: "object"
            required:
            - "code"
            - "message"
            properties:
              message:
                type: "string"
                description: "The meessage of Error."
              code:
                type: "number"
                description: "The error code."
              errors:
                type: "array"
                description: "Array of errors."
                items: {}
        404:
          description: "Not Found"
          examples:
            application/json:
              message: "Resource not found"
              code: 404
              errors:
              - domain: "global"
                reason: "backendError"
                message: "Error message"
          headers: {}
          schema:
            type: "object"
            required:
            - "code"
            - "message"
            properties:
              message:
                type: "string"
                description: "The meessage of Error."
              code:
                type: "number"
                description: "The error code."
              errors:
                type: "array"
                description: "Array of errors."
                items: {}
      x-swagger-router-controller: "Estimate"
  /estimates/{id}/delivery:
    post:
      tags:
      - "Estimate"
      summary: "Enable delivery"
      description: "Enable delivery and recalculate the estimate."
      operationId: "estimatesIdDeliveryPOST"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The id of estimate."
        required: true
        type: "string"
        x-example: "987134-o87sdf"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/Location Base"
      responses:
        200:
          description: "OK"
          examples:
            application/json:
              id: "AS3423"
              name: "Name"
              color: "#ff0055"
              price: "800 kr"
              modified: "2017-01-12T15:46:58Z"
              period:
                start: "2017-01-12T15:46:58Z"
                finish: "2017-01-12T15:46:58Z"
              assemblies:
              - id: 123
                equipment:
                  article:
                    number: "1234567890"
                    name: "The Dumper"
                    description: "Lorem imposum"
                    sraCode: "211313"
                  offer:
                    name: "\"Hyra\""
                    amount: "123.45"
                    price: "12345 kr / alldager"
                    unit: "st"
                  services:
                    article:
                      number: "1234567890"
                      name: "The Dumper"
                      description: "Lorem imposum"
                      sraCode: "211313"
                    offer:
                      name: "\"Hyra\""
                      amount: "123.45"
                      price: "12345 kr / alldager"
                      unit: "st"
                  order:
                    amount: 1234.55999999999994543031789362430572509765625
                    discount: 123
                    price: "1234567.89 kr"
                accessories:
                - article:
                    number: "1234567890"
                    name: "The Dumper"
                    description: "Lorem imposum"
                    sraCode: "211313"
                  offer:
                    name: "\"Hyra\""
                    amount: "123.45"
                    price: "12345 kr / alldager"
                    unit: "st"
                    preSelected: true
                  services:
                    article:
                      number: "1234567890"
                      name: "The Dumper"
                      description: "Lorem imposum"
                      sraCode: "211313"
                    offer:
                      name: "\"Hyra\""
                      amount: "123.45"
                      price: "12345 kr / alldager"
                      unit: "st"
                  order:
                    amount: 1234.55999999999994543031789362430572509765625
                    discount: 123
                    price: "1234567.89 kr"
              discounts:
                classes:
                - code: "23"
                  name: "Some name"
                  value: 10
                categories:
                - code: "23"
                  name: "Some name"
                  value: 10
              insurance:
                price: "150 kr"
              delivery:
                destination:
                  latitude: "57.56236"
                  longitude: "18.34526"
                fare:
                  price: "150 kr"
                status: "ESTIMATED"
                message: "A description of the status"
          headers: {}
          schema:
            type: "object"
            properties:
              id:
                type: "string"
                description: "The unique identifier"
              name:
                type: "string"
                description: "The name of estimate"
              color:
                type: "string"
                description: "The color of the estimate"
              price:
                type: "string"
                description: "The total productPrice"
              modified:
                type: "string"
                description: "ISO 8601 The last modified date"
              period:
                $ref: "#/definitions/estimates_period"
              assemblies:
                type: "array"
                description: "The rental items"
                items: {}
              discounts:
                $ref: "#/definitions/inline_response_200_6_discounts"
              insurance:
                $ref: "#/definitions/estimates_insurance"
              delivery:
                $ref: "#/definitions/estimates_delivery"
        403:
          description: "Forbidden"
          examples:
            application/json:
              message: "Resource not allowed"
              code: 403
              errors:
              - domain: "global"
                reason: "backendError"
                message: "Error message"
          headers: {}
          schema:
            type: "object"
            required:
            - "code"
            - "message"
            properties:
              message:
                type: "string"
                description: "The meessage of Error."
              code:
                type: "number"
                description: "The error code."
              errors:
                type: "array"
                description: "Array of errors."
                items: {}
        404:
          description: "Not Found"
          examples:
            application/json:
              message: "Resource not found"
              code: 404
              errors:
              - domain: "global"
                reason: "backendError"
                message: "Error message"
          headers: {}
          schema:
            type: "object"
            required:
            - "code"
            - "message"
            properties:
              message:
                type: "string"
                description: "The meessage of Error."
              code:
                type: "number"
                description: "The error code."
              errors:
                type: "array"
                description: "Array of errors."
                items: {}
      x-swagger-router-controller: "Estimate"
    delete:
      tags:
      - "Estimate"
      summary: "Disable delivery"
      description: "Disable delivery and recalculate the estimate."
      operationId: "estimatesIdDeliveryDELETE"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The id of estimate."
        required: true
        type: "string"
        x-example: "987134-o87sdf"
      responses:
        200:
          description: "OK"
          examples:
            application/json:
              id: "AS3423"
              name: "Name"
              color: "#ff0055"
              price: "800 kr"
              modified: "2017-01-12T15:46:58Z"
              period:
                start: "2017-01-12T15:46:58Z"
                finish: "2017-01-12T15:46:58Z"
              assemblies:
              - id: 123
                equipment:
                  article:
                    number: "1234567890"
                    name: "The Dumper"
                    description: "Lorem imposum"
                    sraCode: "211313"
                  offer:
                    name: "\"Hyra\""
                    amount: "123.45"
                    price: "12345 kr / alldager"
                    unit: "st"
                  services:
                    article:
                      number: "1234567890"
                      name: "The Dumper"
                      description: "Lorem imposum"
                      sraCode: "211313"
                    offer:
                      name: "\"Hyra\""
                      amount: "123.45"
                      price: "12345 kr / alldager"
                      unit: "st"
                  order:
                    amount: 1234.55999999999994543031789362430572509765625
                    discount: 123
                    price: "1234567.89 kr"
                accessories:
                - article:
                    number: "1234567890"
                    name: "The Dumper"
                    description: "Lorem imposum"
                    sraCode: "211313"
                  offer:
                    name: "\"Hyra\""
                    amount: "123.45"
                    price: "12345 kr / alldager"
                    unit: "st"
                    preSelected: true
                  services:
                    article:
                      number: "1234567890"
                      name: "The Dumper"
                      description: "Lorem imposum"
                      sraCode: "211313"
                    offer:
                      name: "\"Hyra\""
                      amount: "123.45"
                      price: "12345 kr / alldager"
                      unit: "st"
                  order:
                    amount: 1234.55999999999994543031789362430572509765625
                    discount: 123
                    price: "1234567.89 kr"
              discounts:
                classes:
                - code: "23"
                  name: "Some name"
                  value: 10
                categories:
                - code: "23"
                  name: "Some name"
                  value: 10
              insurance:
                price: "150 kr"
              delivery:
                destination:
                  latitude: "57.56236"
                  longitude: "18.34526"
                fare:
                  price: "150 kr"
                status: "ESTIMATED"
                message: "A description of the status"
          headers: {}
          schema:
            type: "object"
            properties:
              id:
                type: "string"
                description: "The unique identifier"
              name:
                type: "string"
                description: "The name of estimate"
              color:
                type: "string"
                description: "The color of the estimate"
              price:
                type: "string"
                description: "The total productPrice"
              modified:
                type: "string"
                description: "ISO 8601 The last modified date"
              period:
                $ref: "#/definitions/estimates_period"
              assemblies:
                type: "array"
                description: "The rental items"
                items: {}
              discounts:
                $ref: "#/definitions/inline_response_200_6_discounts"
              insurance:
                $ref: "#/definitions/estimates_insurance"
              delivery:
                $ref: "#/definitions/estimates_delivery"
        403:
          description: "Forbidden"
          examples:
            application/json:
              message: "Resource not allowed"
              code: 403
              errors:
              - domain: "global"
                reason: "backendError"
                message: "Error message"
          headers: {}
          schema:
            type: "object"
            required:
            - "code"
            - "message"
            properties:
              message:
                type: "string"
                description: "The meessage of Error."
              code:
                type: "number"
                description: "The error code."
              errors:
                type: "array"
                description: "Array of errors."
                items: {}
        404:
          description: "Not Found"
          examples:
            application/json:
              message: "Resource not found"
              code: 404
              errors:
              - domain: "global"
                reason: "backendError"
                message: "Error message"
          headers: {}
          schema:
            type: "object"
            required:
            - "code"
            - "message"
            properties:
              message:
                type: "string"
                description: "The meessage of Error."
              code:
                type: "number"
                description: "The error code."
              errors:
                type: "array"
                description: "Array of errors."
                items: {}
      x-swagger-router-controller: "Estimate"
  /estimates/{estimateId}/assemblies:
    get:
      tags:
      - "Estimate"
      summary: "List assemblies"
      description: ""
      operationId: "estimatesEstimateIdAssembliesGET"
      produces:
      - "application/json"
      parameters:
      - name: "estimateId"
        in: "path"
        description: "The id of estimate."
        required: true
        type: "string"
        x-example: "987134-o87sdf"
      responses:
        200:
          description: "OK"
          examples:
            application/json:
              items:
              - id: 123
                equipment:
                  article:
                    number: "1234567890"
                    name: "The Dumper"
                    description: "Lorem imposum"
                    sraCode: "211313"
                  offer:
                    name: "\"Hyra\""
                    amount: "123.45"
                    price: "12345 kr / alldager"
                    unit: "st"
                  services:
                    article:
                      number: "1234567890"
                      name: "The Dumper"
                      description: "Lorem imposum"
                      sraCode: "211313"
                    offer:
                      name: "\"Hyra\""
                      amount: "123.45"
                      price: "12345 kr / alldager"
                      unit: "st"
                  order:
                    amount: 1234.55999999999994543031789362430572509765625
                    discount: 123
                    price: "1234567.89 kr"
                accessories:
                - article:
                    number: "1234567890"
                    name: "The Dumper"
                    description: "Lorem imposum"
                    sraCode: "211313"
                  offer:
                    name: "\"Hyra\""
                    amount: "123.45"
                    price: "12345 kr / alldager"
                    unit: "st"
                    preSelected: true
                  services:
                    article:
                      number: "1234567890"
                      name: "The Dumper"
                      description: "Lorem imposum"
                      sraCode: "211313"
                    offer:
                      name: "\"Hyra\""
                      amount: "123.45"
                      price: "12345 kr / alldager"
                      unit: "st"
                  order:
                    amount: 1234.55999999999994543031789362430572509765625
                    discount: 123
                    price: "1234567.89 kr"
          headers: {}
          schema:
            type: "object"
            properties:
              items:
                type: "array"
                items: {}
        403:
          description: "Forbidden"
          examples:
            application/json:
              message: "Resource not allowed"
              code: 403
              errors:
              - domain: "global"
                reason: "backendError"
                message: "Error message"
          headers: {}
          schema:
            type: "object"
            required:
            - "code"
            - "message"
            properties:
              message:
                type: "string"
                description: "The meessage of Error."
              code:
                type: "number"
                description: "The error code."
              errors:
                type: "array"
                description: "Array of errors."
                items: {}
        404:
          description: "Not Found"
          examples:
            application/json:
              message: "Resource not found"
              code: 404
              errors:
              - domain: "global"
                reason: "backendError"
                message: "Error message"
          headers: {}
          schema:
            type: "object"
            required:
            - "code"
            - "message"
            properties:
              message:
                type: "string"
                description: "The meessage of Error."
              code:
                type: "number"
                description: "The error code."
              errors:
                type: "array"
                description: "Array of errors."
                items: {}
      x-swagger-router-controller: "Estimate"
    post:
      tags:
      - "Estimate"
      summary: "Create assembly for Catalogue Item"
      description: "Creates assembly for given Product, passing accessories override\
        \ default selection."
      operationId: "estimatesEstimateIdAssembliesPOST"
      produces:
      - "application/json"
      parameters:
      - name: "estimateId"
        in: "path"
        description: "The id of estimate"
        required: true
        type: "string"
        x-example: "987134-o87sdf"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/Assembly Order"
      responses:
        200:
          description: "OK"
          examples:
            application/json:
              id: "AS3423"
              name: "Name"
              color: "#ff0055"
              price: "800 kr"
              modified: "2017-01-12T15:46:58Z"
              period:
                start: "2017-01-12T15:46:58Z"
                finish: "2017-01-12T15:46:58Z"
              assemblies:
              - id: 123
                equipment:
                  article:
                    number: "1234567890"
                    name: "The Dumper"
                    description: "Lorem imposum"
                    sraCode: "211313"
                  offer:
                    name: "\"Hyra\""
                    amount: "123.45"
                    price: "12345 kr / alldager"
                    unit: "st"
                  services:
                    article:
                      number: "1234567890"
                      name: "The Dumper"
                      description: "Lorem imposum"
                      sraCode: "211313"
                    offer:
                      name: "\"Hyra\""
                      amount: "123.45"
                      price: "12345 kr / alldager"
                      unit: "st"
                  order:
                    amount: 1234.55999999999994543031789362430572509765625
                    discount: 123
                    price: "1234567.89 kr"
                accessories:
                - article:
                    number: "1234567890"
                    name: "The Dumper"
                    description: "Lorem imposum"
                    sraCode: "211313"
                  offer:
                    name: "\"Hyra\""
                    amount: "123.45"
                    price: "12345 kr / alldager"
                    unit: "st"
                    preSelected: true
                  services:
                    article:
                      number: "1234567890"
                      name: "The Dumper"
                      description: "Lorem imposum"
                      sraCode: "211313"
                    offer:
                      name: "\"Hyra\""
                      amount: "123.45"
                      price: "12345 kr / alldager"
                      unit: "st"
                  order:
                    amount: 1234.55999999999994543031789362430572509765625
                    discount: 123
                    price: "1234567.89 kr"
              discounts:
                classes:
                - code: "23"
                  name: "Some name"
                  value: 10
                categories:
                - code: "23"
                  name: "Some name"
                  value: 10
              insurance:
                price: "150 kr"
              delivery:
                destination:
                  latitude: "57.56236"
                  longitude: "18.34526"
                fare:
                  price: "150 kr"
                status: "ESTIMATED"
                message: "A description of the status"
          headers: {}
          schema:
            type: "object"
            properties:
              id:
                type: "string"
                description: "The unique identifier"
              name:
                type: "string"
                description: "The name of estimate"
              color:
                type: "string"
                description: "The color of the estimate"
              price:
                type: "string"
                description: "The total productPrice"
              modified:
                type: "string"
                description: "ISO 8601 The last modified date"
              period:
                $ref: "#/definitions/estimates_period"
              assemblies:
                type: "array"
                description: "The rental items"
                items: {}
              discounts:
                $ref: "#/definitions/inline_response_200_6_discounts"
              insurance:
                $ref: "#/definitions/estimates_insurance"
              delivery:
                $ref: "#/definitions/estimates_delivery"
        403:
          description: "Forbidden"
          examples:
            application/json:
              message: "Resource not allowed"
              code: 403
              errors:
              - domain: "global"
                reason: "backendError"
                message: "Error message"
          headers: {}
          schema:
            type: "object"
            required:
            - "code"
            - "message"
            properties:
              message:
                type: "string"
                description: "The meessage of Error."
              code:
                type: "number"
                description: "The error code."
              errors:
                type: "array"
                description: "Array of errors."
                items: {}
        404:
          description: "Not Found"
          examples:
            application/json:
              message: "Resource not found"
              code: 404
              errors:
              - domain: "global"
                reason: "backendError"
                message: "Error message"
          headers: {}
          schema:
            type: "object"
            required:
            - "code"
            - "message"
            properties:
              message:
                type: "string"
                description: "The meessage of Error."
              code:
                type: "number"
                description: "The error code."
              errors:
                type: "array"
                description: "Array of errors."
                items: {}
      x-swagger-router-controller: "Estimate"
  /estimates/{estimateId}/assemblies/{assemblyId}:
    get:
      tags:
      - "Estimate"
      summary: "Get assembly"
      description: ""
      operationId: "estimatesEstimateIdAssembliesAssemblyIdGET"
      produces:
      - "application/json"
      parameters:
      - name: "estimateId"
        in: "path"
        description: "The id of estimate."
        required: true
        type: "string"
        x-example: "987134-o87sdf"
      - name: "assemblyId"
        in: "path"
        description: "The id for the equipment"
        required: true
        type: "string"
        x-example: "6498431"
      responses:
        200:
          description: "OK"
          examples:
            application/json:
              id: 123
              equipment:
                article:
                  number: "1234567890"
                  name: "The Dumper"
                  description: "Lorem imposum"
                  sraCode: "211313"
                offer:
                  name: "\"Hyra\""
                  amount: "123.45"
                  price: "12345 kr / alldager"
                  unit: "st"
                services:
                  article:
                    number: "1234567890"
                    name: "The Dumper"
                    description: "Lorem imposum"
                    sraCode: "211313"
                  offer:
                    name: "\"Hyra\""
                    amount: "123.45"
                    price: "12345 kr / alldager"
                    unit: "st"
                order:
                  amount: 1234.55999999999994543031789362430572509765625
                  discount: 123
                  price: "1234567.89 kr"
              accessories:
              - article:
                  number: "1234567890"
                  name: "The Dumper"
                  description: "Lorem imposum"
                  sraCode: "211313"
                offer:
                  name: "\"Hyra\""
                  amount: "123.45"
                  price: "12345 kr / alldager"
                  unit: "st"
                  preSelected: true
                services:
                  article:
                    number: "1234567890"
                    name: "The Dumper"
                    description: "Lorem imposum"
                    sraCode: "211313"
                  offer:
                    name: "\"Hyra\""
                    amount: "123.45"
                    price: "12345 kr / alldager"
                    unit: "st"
                order:
                  amount: 1234.55999999999994543031789362430572509765625
                  discount: 123
                  price: "1234567.89 kr"
          headers: {}
          schema:
            type: "object"
            properties:
              id:
                type: "number"
                description: "The id"
              equipment:
                $ref: "#/definitions/inline_response_200_8_equipment"
              accessories:
                type: "array"
                description: "The accessories in this estimate"
                items: {}
        403:
          description: "Forbidden"
          examples:
            application/json:
              message: "Resource not allowed"
              code: 403
              errors:
              - domain: "global"
                reason: "backendError"
                message: "Error message"
          headers: {}
          schema:
[...]
